<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head >
    <meta charset="UTF-8">
    <title>Student Page</title>
</head>
<body>
 <th:block th:fragment="instructor-list">
 
 
 <!-- Instructor list START -->
			<div class="col-xl-9">
				<div class="row g-4 justify-content-center">
			<!-- Card item START -->
			<div class="col-lg-10 col-xl-6">
				<div class="card shadow p-2">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img th:src="@{public/assets/images/instructor/01.jpg}" class="rounded-3" alt="...">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
									<div><a th:href="@{/instructor-single}">
										<h5 class="card-title mb-0"><a href="">U Aung</a></h5>
										<p class="small mb-2 mb-sm-0">OffShore Division</p>
									</a></div>
								</div>
								<!-- Content -->
								<p class="text-truncate-2 mb-3">Perceived end knowledge certainly day sweetness why cordially. Ask a quick six seven offer see among.</p>
								<!-- Info -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xl-6">
				<div class="card shadow p-2">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img th:src="@{public/assets/images/instructor/02.jpg}" class="rounded-3" alt="...">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
									<div>
										<h5 class="card-title mb-0"><a href="">Ma Phyu</a></h5>
										<p class="small mb-2 mb-sm-0">OffShore Division</p>
									</div>
								</div>
								<!-- Content -->
								<p class="text-truncate-2 mb-3">Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs.</p>
								<!-- Info -->
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xl-6">
				<div class="card shadow p-2">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img th:src="@{public/assets/images/instructor/03.jpg}" class="rounded-3" alt="...">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
									<div>
										<h5 class="card-title mb-0"><a href="">Mg Hla</a></h5>
										<p class="small mb-2 mb-sm-0">PMO Division</p>
									</div>
								</div>
								<!-- Content -->
								<p class="text-truncate-2 mb-3">Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs.</p>
								<!-- Info -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xl-6">
				<div class="card shadow p-2">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img th:src="@{public/assets/images/instructor/04.jpg}" class="rounded-3" alt="...">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
									<div>
										<h5 class="card-title mb-0"><a href="">Ma Khine</a></h5>
										<p class="small mb-2 mb-sm-0">Local Division</p>
									</div>
								</div>
								<!-- Content -->
								<p class="text-truncate-2 mb-3">As it so contrasted oh estimating instrument. Size like body some one had. Are conduct viewing boy minutes warrant the expense</p>
								<!-- Info -->
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xl-6">
				<div class="card shadow p-2">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img th:src="@{public/assets/images/instructor/06.jpg}" class="rounded-3" alt="...">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
									<div>
										<h5 class="card-title mb-0"><a href="">Ma Zin</a></h5>
										<p class="small mb-2 mb-sm-0">Local Division</p>
									</div>
								</div>
								<!-- Content -->
								<p class="text-truncate-2 mb-3">Contrasted oh estimating instrument. Size like body some one had. Are conduct viewing boy minutes warrant the expense</p>
								<!-- Info -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									
									
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xl-6">
				<div class="card shadow p-2">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img th:src="@{public/assets/images/instructor/07.jpg}" class="rounded-3" alt="...">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
									<div>
										<h5 class="card-title mb-0"><a href="">Ma Ni</a></h5>
										<p class="small mb-2 mb-sm-0">OffShore Division</p>
									</div>
								</div>
								<!-- Content -->
								<p class="text-truncate-2 mb-3">Yet no jokes worse her why. Bed one supposing breakfast day fulfilled off depending questions. Whatever boy her exertion his extended. Ecstatic followed handsome drawings</p>
								<!-- Info -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xl-6">
				<div class="card shadow p-2">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img th:src="@{public/assets/images/instructor/08.jpg}" class="rounded-3" alt="...">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
									<div>
										<h5 class="card-title mb-0"><a href="">Mg Soe</a></h5>
										<p class="small mb-2 mb-sm-0">PMO Division</p>
									</div>
								</div>
								<!-- Content -->
								<p class="text-truncate-2 mb-3">As it so contrasted oh estimating instrument. Size like body some one had. Are conduct viewing boy minutes warrant the expense</p>
								<!-- Info -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-lg-10 col-xl-6">
				<div class="card shadow p-2">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img th:src="@{public/assets/images/instructor/09.jpg}" class="rounded-3" alt="...">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
									<div>
										<h5 class="card-title mb-0"><a href="">Ma Mon</a></h5>
										<p class="small mb-2 mb-sm-0">Local Division</p>
									</div>
								</div>
								<!-- Content -->
								<p class="text-truncate-2 mb-3">Tt so contrasted oh estimating instrument. Size like body some one had. Are conduct viewing boy minutes warrant the expense</p>
								<!-- Info -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

		</div>
	</div>
		<!-- Instructor list END -->
 </th:block>
 </body>
 </html>