<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Page</title>

</head>
<body>
	<th:block th:fragment="student-course-resume">
		<!-- Main content START -->
		<div class="col-xl-9">
			<!-- Course item START -->
			<div th:each="enrolledCourse : ${enrolledCourseList}">


				<div class="card border">
					<div class="card-header border-bottom">
						<!-- Card START -->
						<div class="card">
							<div class="row g-0">
								<div class="col-md-3">
									<img th:src="@{/public/assets/images/courses/4by3/01.jpg}"
										class="rounded-2" alt="Card image">
								</div>
								<div class="col-md-9">
									<div class="card-body">
										<!-- Title -->
										<h3 class="card-title">
											<a href="#" th:text="${enrolledCourse.courses.courseTitle}"></a>
										</h3>

										<!-- Info -->
										<ul class="list-inline mb-2">
											<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i
												class="far fa-clock text-danger me-2"></i><span
												th:text="${enrolledCourse.courses.duration} + 'h'"></span></li>
											<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i
												class="fas fa-table text-orange me-2"></i><span
												th:text="${enrolledCourse.courses.courseModule.size} + ' modules'"></span></li>

										</ul>

										<!-- button -->

									</div>
								</div>
							</div>
						</div>
						<!-- Card END -->
					</div>

					<div class="card-body">

						<!-- Title -->
						<h5>Course Curriculum</h5>

						<div
							th:each="enrolledModule,iterStat : ${enrolledCourse.enrolledModules}">

							<!-- Accordion START -->
							<div class="accordion accordion-icon accordion-bg-light"
								id="accordionExample2">
								<!-- Item -->
								<div class="accordion-item mb-3">
									<h6 class="accordion-header font-base"
										th:id="'heading-' + ${iterStat.index}">
										<a
											class="accordion-button fw-bold rounded collapsed d-block pe-4"
											href="#collapse-1" data-bs-toggle="collapse"
											th:attr="aria-controls='collapse-1', data-bs-target='#collapse-' + ${iterStat.index}"
											aria-expanded="true"> <span class="mb-0"
											th:text="${enrolledModule.courseModule.moduleTitle}"></span>
											<span class="small d-block mt-1"
											th:text="'(' + ${enrolledModule.courseModule.courseMaterials.size} + ' Materials)'"></span>
										</a>
									</h6>
									<div th:id="'collapse-' + ${iterStat.index}"
										class="accordion-collapse collapse show"
										th:attr="aria-labelledby='heading-' + ${iterStat.index}"
										data-bs-parent="#accordionExample2">
										<div class="accordion-body mt-3">
											<div class="vstack gap-3">
												<div>
													<!-- Progress bar -->
													<div class="mt-2 overflow-hidden">
														<div class="d-flex justify-content-between">
															<p class="mb-1 h6"
																th:text="${enrolledModule.enrolledMaterialAndAssignmentCompleteCount} + '/' 
															                          + ${enrolledModule.enrolledMaterial.size + enrolledModule.enrolledAssignment.size} + ' Completed'"></p>
															<h6 class="mb-1 text-end"
																th:text="${enrolledModule.calculateProgress}"></h6>
														</div>
														<div
															class="mt-2 progress progress-sm bg-primary bg-opacity-10">
															<div class="progress-bar bg-primary aos"
																role="progressbar" data-aos="slide-right"
																data-aos-delay="200" data-aos-duration="1000"
																data-aos-easing="ease-in-out"
																th:style="${'width:'+ enrolledModule.calculateProgress +'%'}"
																aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
															</div>
														</div>
													</div>

													<!-- Course Materials -->
													<div
														th:each="enrolledMaterial : ${enrolledModule.enrolledMaterial}">
														<div
															class="d-flex justify-content-between align-items-center mt-2 mb-2">
															<div class="position-relative d-flex align-items-center"
																th:if="${enrolledMaterial.completeStatus != true}">
																<a
																	th:href="@{/student/student-course-resume/view-material(enrollMaterialId=${enrolledMaterial.id})}"
																	class="btn btn-success btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-play me-0"></i>
																</a> <span
																	class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-150px w-sm-200px"
																	th:text="${enrolledMaterial.courseMaterial.title}"></span>
															</div>
															<div class="position-relative d-flex align-items-center"
																th:unless="${enrolledMaterial.completeStatus != true}">
																<button disabled
																	class="btn btn-success btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-check me-0"></i>
																</button>
																<span
																	class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-150px w-sm-200px"
																	th:text="${enrolledMaterial.courseMaterial.title}"></span>
															</div>
														</div>

														<hr class="mb-0">
													</div>
													<!-- Course Assignments -->
													<div
														th:each="enrolledAssignment : ${enrolledModule.enrolledAssignment}">
														<div th:if="${enrolledAssignment.completeStatus != true}"
															class="d-flex justify-content-between align-items-center mt-2">
															<div class="position-relative d-flex align-items-center">
																<a
																	th:href="@{/student/student-quiz(enrolledAssignmentId=${enrolledAssignment.id})}"
																	class="btn btn-primary-soft btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-question me-0"></i>
																</a> <span
																	class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-150px w-sm-400px"
																	th:text="${enrolledAssignment.courseAssignment.title}"></span>
															</div>
														</div>
														<div
															th:unless="${enrolledAssignment.completeStatus != true}"
															class="d-flex justify-content-between align-items-center mt-2">
															<div class="position-relative d-flex align-items-center">
																<button disabled
																	class="btn btn-primary btn-round btn-sm mb-0 stretched-link position-static">
																	<i class="fas fa-check me-0"></i>
																</button>
																<span
																	class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-150px w-sm-400px"
																	th:text="${enrolledAssignment.courseAssignment.title}"></span>
															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>

							</div>
							<!-- Accordion END -->

						</div>
					</div>
				</div>

				<div class="row mt-3 mb-3">
					<div class="col-12">
						<div th:if="${enrolledCourse.completeStatus == true}">
							<a
								th:href="@{/student/student-certificate/create-certificate(enrolledCourseId=${enrolledCourse.id})}"
								class="btn btn-success">Course Completed! Get Certificate</a>
						</div>
					</div>

				</div>
			</div>
			<!-- Course item END -->
		</div>
		<!-- Main content END -->
	</th:block>
</body>
</html>