<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Page</title>
</head>
<body>
	<th:block th:fragment="student-certificate">


		<div class="col-xl-9">

			<!-- Counter boxes START -->
			<div class="row mb-4">
				<!-- Counter item -->
				<div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
					<div
						class="d-flex justify-content-center align-items-center p-4 bg-orange bg-opacity-15 rounded-3">
						<span class="display-6 lh-1 text-orange mb-0"><i
							class="bi bi-award-fill"></i></span>
						<div class="ms-4">
							<div class="d-flex">
								<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
									data-purecounter-end="9" data-purecounter-delay="200" th:text="${gold}">0</h5>
							</div>
							<p class="mb-0 h6 fw-light">Gold</p>
						</div>
					</div>
				</div>
				<!-- Counter item -->
				<div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
					<div
						class="d-flex justify-content-center align-items-center p-4 bg-purple bg-opacity-15 rounded-3">
						<span class="display-6 lh-1 text-purple mb-0"><i
							class="bi bi-trophy"></i></span>
						<div class="ms-4">
							<div class="d-flex">
								<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
									data-purecounter-end="52" data-purecounter-delay="200" th:text="${silver}"></h5>
							</div>
							<p class="mb-0 h6 fw-light">Silver</p>
						</div>
					</div>
				</div>
				<!-- Counter item -->
				<div class="col-sm-6 col-lg-4 mb-3 mb-lg-0">
					<div
						class="d-flex justify-content-center align-items-center p-4 bg-success bg-opacity-10 rounded-3">
						<span class="display-6 lh-1 text-success mb-0"><i
							class="fas fa-medal fa-fw"></i></span>
						<div class="ms-4">
							<div class="d-flex">
								<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0"
									data-purecounter-end="8" data-purecounter-delay="300" th:text="${bronze}"></h5>
							</div>
							<p class="mb-0 h6 fw-light">Bronze</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Counter boxes END -->

			<div class="card bg-transparent border rounded-3">
				<!-- Card header START -->
				<div class="card-header bg-transparent border-bottom">
					<h3 class="mb-0">My Certificate List</h3>
				</div>
				<!-- Card header END -->

				<!-- Card body START -->
				<div class="card-body">

					<!-- Search and select START -->
					<div
						class="row g-3 align-items-center justify-content-between mb-4">
						<!-- Content -->
						<div class="col-md-8"></div>
						<div class="col-md-4">
							<form class="rounded position-relative">
								<input class="form-control pe-5 bg-transparent" type="search"
									placeholder="Search" aria-label="Search">
								<button
									class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
									type="submit">
									<i class="fas fa-search fs-6 "></i>
								</button>
							</form>
						</div>

						<!-- Select option -->

					</div>
					<!-- Search and select END -->

					<!-- Course list table START -->
					<div class="table-responsive border-0">
						<table
							class="table table-dark-gray align-middle p-4 mb-0 table-hover">
							<!-- Table head -->
							<thead>
								<tr>
									<th scope="col" class="border-0 rounded-start">Certificate</th>
									<th scope="col" class="border-0">Instructor Name</th>
									<th scope="col" class="border-0">Student Name</th>
									<th scope="col" class="border-0 rounded-end">Received Date</th>
								</tr>
							</thead>

							<!-- Table body START -->
							<tbody>
								<!-- Table item -->
								<tr th:each="certificate : ${certificates}">
									<!-- Table data -->
									<td>
										<div class="d-flex align-items-center">
											<!-- Image -->
											<div class="w-100px">
												<a
													th:href="@{/student/student-certificate/view-certificate(certificateId=${certificate.id})}">
													<img th:src="@{/public/assets/Certificate/certificate.png}"
													class="rounded" alt="">
												</a>
											</div>
										</div>
									</td>

									<!-- Table Name -->
									<td th:text="${certificate.courses.users.name}"></td>

									<!-- Table Name -->
									<td th:text="${user.name}"></td>

									<!-- Table data -->
									<td
										th:text="${#strings.substring(certificate.receivedAt,0 ,10)}"></td>
								</tr>

							</tbody>
							<!-- Table body END -->
						</table>
					</div>
					<!-- Course list table END -->

					<!-- Pagination START -->
					<div
						class="d-sm-flex justify-content-sm-center align-items-sm-center mt-4 mt-sm-3">

						<nav
							class="d-flex justify-content-center align-items-center  mb-0"
							aria-label="navigation">
							<ul
								class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
								<li class="page-item mb-0"><a class="page-link" href="#"
									tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
								<li class="page-item mb-0 active"><a class="page-link"
									href="#">2</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#"><i
										class="fas fa-angle-right"></i></a></li>
							</ul>
						</nav>
					</div>
					<!-- Pagination END -->
				</div>
				<!-- Card body START -->

			</div>
			<!-- Main content END -->
		</div>
	</th:block>
</body>
</html>
