<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.btn-xs {
	padding: 5px;
	font-size: .6rem;
	line-height: 1.5;
	color: blue;
}
</style>
</head>
<body>
	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<th:block th:fragment="admin-view-blog">
			<!-- Page content START -->
			<div class="page-content">
				<!-- ======================= Page content START -->
				<section class="position-relative pt-0 pt-lg-2">
					<div class="container mt-0">

						<div class="d-flex justify-content-end my-3 mt-md-0">
							<a th:href="@{/admin/admin-create-blog}"
								class="btn btn-success mb-0">Create a Blogs</a>
						</div>
						<div class="row g-4">

							<!-- Card item START -->

							<div class="col-sm-6 col-lg-4 col-xl-3"
								th:each="blogPost:${blogPosts}">
								<div class="card bg-transparent"
									style="width: 100%; height: 350px;">
									<div class="overflow-hidden rounded-3"
										style="width: 100%; height: 200px;">
										<img
											th:src="@{'/private/blog/blog-images/' + ${blogPost.blogImage}}"
											class="card-img" alt="blog image"
											style="width: 100%; height: 100%; object-fit: cover;">
										<!-- Overlay -->
										<div class="bg-overlay bg-dark opacity-4"></div>
									</div>

										<!-- Card body -->
									<div class="card-body"
										style="height: 150px; display: flex; flex-direction: column; justify-content: space-between;">
										<!-- Title -->
										<h5 class="card-title"
											style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
											<a th:href="@{/admin/blog-detail/{id}(id=${blogPost.id})}"
												th:text="${blogPost.title}"></a>
										</h5>
										<!-- Info -->
										<div class="d-flex justify-content-between">
											<h6 class="mb-0">
												<a
													th:href="@{/admin/blog-detail/{id}(id=${blogPost.id})}"
													class="btn btn-sm btn-warning me-2 mb-0" title="Edit Blog">
													<i class="fas fa-file-alt"></i> Details
												</a> <a
													th:href="@{/admin/admin-delete-blog/{id}(id=${blogPost.id})}"
													onclick="return confirm('Are you sure you want to delete this blog?')"
													class="btn btn-sm btn-danger mb-0" title="Delete Blog">
													<i class="fas fa-trash-alt"></i> Delete
												</a>
											</h6>
											<!-- <a th:href="@{/admin/blog-detail/{id}(id=${blogPost.id})}" th:text="${blogPost.title}"></a>-->
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->
						</div>
						<!-- Row end -->
						<!-- <a th:href="@{/admin/blog-detail/{id}(id=${blogPost.id})}" th:text="${blogPost.title}"></a>-->
													</div>
													
													</section>
												</div>
												
									
									<!-- Row end -->
								<!-- Pagination START -->
							<div class="card-footer ">
									<!-- Check if there are no results -->
									<div th:if="${totalPages == 0}" class="text-center">
										<p>No Blog Found.</p>
									</div>

									<!-- Pagination START -->
									<div th:if="${totalPages > 0}"
										class="d-sm-flex justify-content-sm-center align-items-sm-center">
										
						<nav class="d-flex justify-content-center mt-5"
							aria-label="navigation">
						
							<ul class="pagination pagination-primary-soft rounded mb-0">
		
								<li class="page-item"
									th:classappend="${currentPage == 0} ? 'disabled' : ''">
										
									<a
									class="page-link" th:href="@{/user/blog(page=${previousPage})}"
									tabindex="-1"> <i class="fas fa-angle-double-left" th:classappend="${currentPage == 0} ? 'd-none' : ''"></i>
								</a></li>
								
								<li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
									class="page-item"
									th:classappend="${currentPage == i} ? 'active'"><a
									class="page-link" th:href="@{/user/blog(page=${i})}"
									th:text="${i + 1}"></a></li>
									
								<li class="page-item"
									th:classappend="${currentPage + 1 >= totalPages} ? 'disabled' : ''">
									<a class="page-link" th:href="@{/user/blog(page=${nextPage})}">
										<i class="fas fa-angle-double-right" th:classappend="${currentPage + 1 >= totalPages} ? 'd-none' : ''"></i>
								</a>
								</li>
							</ul>
						</nav>
						</div>
						</div>
						
						<!-- Pagination END -->

				<!-- ======================= Page content END -->
			
		</th:block>
	</main>
	<!-- **************** MAIN CONTENT END **************** -->
</body>

<!-- Mirrored from diracetechnology.com/admin-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jul 2024 03:23:06 GMT -->
</html>