<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<th:block th:fragment="admin-view-blog">
			<!-- Page content START -->
			<div class="page-content">
				<!-- ======================= Page content START -->
				<section class="position-relative pt-0 pt-lg-5">
					<div class="container">
						<div class="row g-4">
							<div class="d-flex align-items-center mt-2 mt-md-0">
								<a th:href="@{/admin-create-blog}" class="btn btn-success mb-0">Create
									a Blogs</a>
							</div>
							<!-- Card item START -->
							<div class="col-sm-6 col-lg-4 col-xl-3">
								<div class="card bg-transparent">
									<div class="overflow-hidden rounded-3">
										<img th:src="@{public/assets/images/event/02.jpg}" class="card-img"
											alt="course image">
										<!-- Overlay -->
										<div class="bg-overlay bg-dark opacity-4"></div>

									</div>

									<!-- Card body -->
									<div class="card-body">
										<!-- Title -->
										<h5 class="card-title">
											<a href="blog-detail.html">Student Loan Survey: Many Owe
												$50K-plus</a>
										</h5>
										<p class="text-truncate-2">Affronting imprudence do he he
											everything. Offered chiefly farther of my no colonel shyness.
											Such on help ye some door if in. Laughter proposal laughing
											any son law consider. Needed except up piqued an.</p>
										<!-- Info -->
										<div class="d-flex justify-content-between">
											<h6 class="mb-0">
												<a href="#">Frances Guerrero</a>
											</h6>
											<span class="small">30M Ago</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->

							<!-- Card item START -->
							<div class="col-sm-6 col-lg-4 col-xl-3">
								<div class="card bg-transparent">
									<div class="overflow-hidden rounded-3">
										<img th:src="@{public/assets/images/event/08.jpg}" class="card-img"
											alt="course image">
										<!-- Overlay -->
										<div class="bg-overlay bg-dark opacity-4"></div>

									</div>

									<!-- Card body -->
									<div class="card-body">
										<!-- Title -->
										<h5 class="card-title">
											<a href="blog-detail.html">How to make a college list</a>
										</h5>
										<p class="text-truncate-2">Prospective students should
											start broadly and then narrow their list down to colleges
											that best fit their needs, experts say. Yet remarkably
											appearance get him his projection.</p>
										<!-- Info -->
										<div class="d-flex justify-content-between">
											<h6 class="mb-0">
												<a href="#">Louis Crawford</a>
											</h6>
											<span class="small">12H Ago</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->

							<!-- Card item START -->
							<div class="col-sm-6 col-lg-4 col-xl-3">
								<div class="card bg-transparent">
									<div class="overflow-hidden rounded-3">
										<img th:src="@{public/assets/images/event/09.jpg}" class="card-img"
											alt="course image">
										<!-- Overlay -->
										<div class="bg-overlay bg-dark opacity-4"></div>

									</div>

									<!-- Card body -->
									<div class="card-body">
										<!-- Title -->
										<h5 class="card-title">
											<a href="#">Never underestimate the influence of DAT </a>
										</h5>
										<p class="text-truncate-2">Prospective students should
											start broadly and then narrow their list</p>
										<!-- Info -->
										<div class="d-flex justify-content-between">
											<h6 class="mb-0">
												<a href="#">Joan Wallace</a>
											</h6>
											<span class="small">5D Ago</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->

							<!-- Card item START -->
							<div class="col-sm-6 col-lg-4 col-xl-3">
								<div class="card bg-transparent">
									<div class="overflow-hidden rounded-3">
										<img th:src="@{public/assets/images/event/03.jpg}" class="card-img-top"
											alt="course image">
										<!-- Overlay -->
										<div class="bg-overlay bg-dark opacity-4"></div>

									</div>

									<!-- Card body -->
									<div class="card-body">
										<!-- Title -->
										<h5 class="card-title">
											<a href="#">Covid-19 and the college experienced</a>
										</h5>
										<p class="text-truncate-2">Rooms oh fully taken by worse
											do. Points afraid but may end law. Points afraid but may end
											law.</p>
										<!-- Info -->
										<div class="d-flex justify-content-between">
											<h6 class="mb-0">
												<a href="#">Amanda Reed</a>
											</h6>
											<span class="small">July 21, 2021</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->

							<!-- Card item START -->
							<div class="col-sm-6 col-lg-4 col-xl-3">
								<div class="card bg-transparent">
									<div class="overflow-hidden rounded-3">
										<img th:src="@{public/assets/images/event/07.jpg}" class="card-img-top"
											alt="course image">
										<!-- Overlay -->
										<div class="bg-overlay bg-dark opacity-4"></div>

									</div>

									<!-- Card body -->
									<div class="card-body">
										<!-- Title -->
										<h5 class="card-title">
											<a href="#">Best Pinterest Boards for learning about
												business</a>
										</h5>
										<p class="text-truncate-2">Fully taken by worse do. Points
											afraid but may end law. Points afraid but may end law.</p>
										<!-- Info -->
										<div class="d-flex justify-content-between">
											<h6 class="mb-0">
												<a href="#">Samuel Bishop</a>
											</h6>
											<span class="small">40D ago</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->

							<!-- Card item START -->
							<div class="col-sm-6 col-lg-4 col-xl-3">
								<div class="card bg-transparent">
									<div class="overflow-hidden rounded-3">
										<img th:src="@{public/assets/images/event/04.jpg}" class="card-img-top"
											alt="course image">
										<!-- Overlay -->
										<div class="bg-overlay bg-dark opacity-4"></div>

									</div>

									<!-- Card body -->
									<div class="card-body">
										<!-- Title -->
										<h5 class="card-title">
											<a href="#">The Olympics are over, now what?</a>
										</h5>
										<p class="text-truncate-2">Rooms oh fully taken by worse
											do. Points afraid but may end law. Points afraid but may end
											law.</p>
										<!-- Info -->
										<div class="d-flex justify-content-between">
											<h6 class="mb-0">
												<a href="#">Carolyn Ortiz</a>
											</h6>
											<span class="small">Aug 31, 2021</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->

							<!-- Card item START -->
							<div class="col-sm-6 col-lg-4 col-xl-3">
								<div class="card bg-transparent">
									<div class="overflow-hidden rounded-3">
										<img th:src="@{public/assets/images/event/05.jpg}" class="card-imgp"
											alt="course image">
										<!-- Overlay -->
										<div class="bg-overlay bg-dark opacity-4"></div>

									</div>

									<!-- Card body -->
									<div class="card-body">
										<!-- Title -->
										<h5 class="card-title">
											<a href="#">Campus Support for First-Year Students</a>
										</h5>
										<p class="text-truncate-2">Prospective students should
											start broadly and then narrow their list</p>

										<!-- Info -->
										<div class="d-flex justify-content-between">
											<h6 class="mb-0">
												<a href="#">Lori Stevens</a>
											</h6>
											<span class="small">3M Ago</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->

							<!-- Card item START -->
							<div class="col-sm-6 col-lg-4 col-xl-3">
								<div class="card bg-transparent">
									<div class="overflow-hidden rounded-3">
										<img th:src="@{public/assets/images/event/06.jpg}" class="card-imgp"
											alt="course image">
										<!-- Overlay -->
										<div class="bg-overlay bg-dark opacity-4"></div>

									</div>

									<!-- Card body -->
									<div class="card-body">
										<!-- Title -->
										<h5 class="card-title">
											<a href="#">Bad habits that people in the industry need
												to quit</a>
										</h5>
										<p class="text-truncate-2">Prospective students should
											start broadly and then narrow their list</p>

										<!-- Info -->
										<div class="d-flex justify-content-between">
											<h6 class="mb-0">
												<a href="#">Louis Crawford</a>
											</h6>
											<span class="small">10D Ago</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Card item END -->

						</div>
						<!-- Row end -->

						<!-- Pagination START -->
						<nav class="d-flex justify-content-center mt-5"
							aria-label="navigation">
							<ul class="pagination pagination-primary-soft rounded mb-0">
								<li class="page-item mb-0"><a class="page-link" href="#"
									tabindex="-1"><i class="fas fa-angle-double-left"></i></a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
								<li class="page-item mb-0 active"><a class="page-link"
									href="#">2</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">..</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">6</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#"><i
										class="fas fa-angle-double-right"></i></a></li>
							</ul>
						</nav>
						<!-- Pagination END -->

					</div>
				</section>
				<!-- ======================= Page content END -->
			</div>
		</th:block>
	</main>
	<!-- **************** MAIN CONTENT END **************** -->
</body>

<!-- Mirrored from diracetechnology.com/admin-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jul 2024 03:23:06 GMT -->
</html>