<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>


<!-- **************** MAIN CONTENT START **************** -->
<main>
<th:block th:fragment = "admin-course-category">


<!-- Page content START -->
<div class="page-content">
	


	<!-- Page main content START -->
	<div class="page-content-wrapper border">

		<!-- Title -->
		<div class="row mb-3">
			<div class="col-12 d-sm-flex justify-content-between align-items-center">
				<h1 class="h3 mb-2 mb-sm-0">Course Categories<span class="badge bg-orange bg-opacity-10 text-orange">245</span></h1>
				<a href="#" class="btn btn-sm btn-primary mb-0">Create a Course Category</a>
			</div>
		</div>

		<!-- Card START -->
		<div class="card bg-transparent border">

			<!-- Card header START -->
			<div class="card-header bg-light border-bottom">
				<!-- Search and select START -->
				<div class="row g-3 align-items-center justify-content-between">

					<!-- Search bar -->
					<div class="col-md-8"></div>
					<div class="col-md-4">
						<form class="rounded position-relative">
							<input class="form-control bg-body" type="search" placeholder="Search" aria-label="Search">
							<button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
								<i class="fas fa-search fs-6 "></i>
							</button>
						</form>
					</div>

				</div>
				<!-- Search and select END -->
			</div>
			<!-- Card header END -->

			<!-- Card body START -->
			<div class="card-body">
				<!-- Course table START -->
				<div class="table-responsive border-0 rounded-3">
					<!-- Table START -->
					<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
						<!-- Table head -->
						<thead>
							<tr>
								<th scope="col" class="border-0 rounded-start">Course Category</th>
								<!-- <th scope="col" class="border-0">Rating</th> -->
								<th scope="col" class="border-0">Courses</th>
								<th scope="col" class="border-0 rounded-end">Action</th>
							</tr>
						</thead>

						<!-- Table body START -->
						<tbody>
							
							<!-- Table row -->
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										<!-- Image -->
										<div class="w-60px">
											<img th:src="@{public/assets/images/courses/4by3/08.jpg}" class="rounded" alt="">
										</div>
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">	
											<a href="#" class="stretched-link">Building Scalable APIs with GraphQL</a>
										</h6>
									</div>
								</td>

								<!-- Table data -->
								<td></td>

								<!-- Table data -->
								<td>
									<a href="#" class="btn btn-sm btn-success me-1 mb-1 mb-md-0">Edit</a>
									<button class="btn btn-sm btn-danger mb-0">Delete</button>
									 
								</td>
							</tr>

							<!-- Table row -->
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										<!-- Image -->
										<div class="w-60px">
											<img th:src="@{public/assets/images/courses/4by3/10.jpg}" class="rounded" alt="">
										</div>
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">	
											<a href="#" class="stretched-link">Bootstrap 5 From Scratch</a>
										</h6>
									</div>
								</td>




								<!-- Table data -->
								<td> </td>

								<!-- Table data -->
								<td>
									<a href="#" class="btn btn-sm btn-success me-1 mb-1 mb-md-0">Edit</a>
									<button class="btn btn-sm btn-danger mb-0">Delete</button>
									 
								</td>
							</tr>

							<!-- Table row -->
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										<!-- Image -->
										<div class="w-60px">
											<img th:src="@{public/assets/images/courses/4by3/02.jpg}" class="rounded" alt="">
										</div>
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">	
											<a href="#" class="stretched-link">Graphic Design Masterclass</a>
										</h6>
									</div>
								</td>




								<!-- Table data -->
								<td></td>

								<!-- Table data -->
								<td>
									<a href="#" class="btn btn-sm btn-success me-1 mb-1 mb-md-0">Edit</a>
									<button class="btn btn-sm btn-danger mb-1 me-1 mb-md-0">Delete</button>
									 
								</td>
							</tr>

							<!-- Table row -->
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										<!-- Image -->
										<div class="w-60px">
											<img th:src="@{public/assets/images/courses/4by3/04.jpg}" class="rounded" alt="">
										</div>
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">	
											<a href="#" class="stretched-link">Learn Invision</a>
										</h6>
									</div>
								</td>





								<!-- Table data -->
								<td></td>

								<!-- Table data -->
								<td>
									<a href="#" class="btn btn-sm btn-success me-1 mb-1 mb-md-0">Edit</a>
									<button class="btn btn-sm btn-danger mb-0">Delete</button>
									 
								</td>
							</tr>

							<!-- Table row -->
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										<!-- Image -->
										<div class="w-60px">
											<img th:src="@{public/assets/images/courses/4by3/09.jpg}" class="rounded" alt="">
										</div>
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">	
											<a href="#" class="stretched-link">JavaScript: Full Understanding</a>
										</h6>
									</div>
								</td>





								<!-- Table data -->
								<td></td>

								<!-- Table data -->
								<td>
									<a href="#" class="btn btn-sm btn-success me-1 mb-1 mb-md-0">Edit</a>
									<button class="btn btn-sm btn-danger mb-0">Delete</button>
									 
								</td>
							</tr>

							<!-- Table row -->
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										<!-- Image -->
										<div class="w-60px">
											<img th:src="@{public/assets/images/courses/4by3/11.jpg}" class="rounded" alt="">
										</div>
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">	
											<a href="#" class="stretched-link">Build Responsive Websites with HTML</a>
										</h6>
									</div>
								</td>

	


								<!-- Table data -->
								<td></td>

								<!-- Table data -->
								<td>
									<a href="#" class="btn btn-sm btn-success me-1 mb-1 mb-md-0">Edit</a>
									<button class="btn btn-sm btn-danger mb-0">Delete</button>
									 
								</td>
							</tr>

							<!-- Table row -->
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center position-relative">
										<!-- Image -->
										<div class="w-60px">
											<img th:src="@{public/assets/images/courses/4by3/12.jpg}" class="rounded" alt="">
										</div>
										<!-- Title -->
										<h6 class="table-responsive-title mb-0 ms-2">	
											<a href="#" class="stretched-link">Build Websites with CSS</a>
										</h6>
									</div>
								</td>

	


								<!-- Table data -->
								<td></td>

								<!-- Table data -->
								<td>
									<a href="#" class="btn btn-sm btn-success me-1 mb-1 mb-md-0">Edit</a>
									<button class="btn btn-sm btn-danger mb-0">Delete</button>
									 
								</td>
							</tr>

						</tbody>
						<!-- Table body END -->
					</table>
					<!-- Table END -->
				</div>
				<!-- Course table END -->
			</div>
			<!-- Card body END -->

			<!-- Card footer START -->
			<div class="card-footer bg-transparent pt-0">
				<!-- Pagination START -->
				<div class="d-sm-flex justify-content-center align-items-sm-center">
					<!-- Content -->
					<!-- <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p> -->
					<!-- Pagination -->
					<nav class="d-flex justify-content-center mb-0" aria-label="navigation">
						<ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
							<li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
							<li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
							<li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
							<li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
							<li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
						</ul>
					</nav>
				</div>
				<!-- Pagination END -->
			</div>
			<!-- Card footer END -->
		</div>
		<!-- Card END -->
	</div>
	<!-- Page main content END -->
</div>
<!-- Page content END -->
</th:block>
</main>
<!-- **************** MAIN CONTENT END **************** -->

</body>

<!-- Mirrored from diracetechnology.com/admin-course-category.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jul 2024 03:24:23 GMT -->
</html>