<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<th:block th:fragment="admin-course-list">
			<link rel="stylesheet" type="text/css"
				th:href="@{/public/assets/vendor/choices/css/choices.min.css}">
			<link rel="stylesheet" type="text/css"
				th:href="@{/public/assets/vendor/overlay-scrollbar/css/overlayscrollbars.min.css}">


			<!-- Page content START -->
			<div class="page-content">
				<!-- Page main content START -->
				<div class="page-content-wrapper border">

					<!-- Title -->
					<div class="row mb-3">
						<div
							class="col-12 d-sm-flex justify-content-between align-items-center">
							<h1 class="h3 mb-2 mb-sm-0">Courses</h1>
							<a th:href="@{/admin/admin-create-course}"
								class="btn btn-sm btn-primary mb-0">Create a Course</a>
						</div>
					</div>

					<!-- Course boxes START -->
					<div class="row g-4 mb-4">
						<!-- Course item -->
						<div class="col-sm-6 col-lg-4">
							<div
								class="text-center p-4 bg-primary bg-opacity-10 border border-primary rounded-3">
								<h6>Total Courses</h6>
								<h2 class="mb-0 fs-1 text-primary" th:text="${totalCourse}"></h2>
							</div>
						</div>

						<!-- Course item -->
						<div class="col-sm-6 col-lg-4">
							<div
								class="text-center p-4 bg-success bg-opacity-10 border border-success rounded-3">
								<h6>Activated Courses</h6>
								<h2 class="mb-0 fs-1 text-success" th:text="${activatedCourse}"></h2>
							</div>
						</div>

						<!-- Course item -->
						<div class="col-sm-6 col-lg-4">
							<div
								class="text-center p-4  bg-warning bg-opacity-15 border border-warning rounded-3">
								<h6>Pending Courses</h6>
								<h2 class="mb-0 fs-1 text-warning" th:text="${pendingCourse}"></h2>
							</div>
						</div>
					</div>
					<!-- Course boxes END -->

					<!-- Card START -->
					<div class="card bg-transparent border">

						<!-- Card header START -->
						<div class="card-header bg-light border-bottom">
							<!-- Search and select START -->
							<div class="row g-3 align-items-center justify-content-between">
								<!-- Search bar -->
								<div class="col-md-8"></div>
								<div class="col-md-4">
									<form class="rounded position-relative">
										<input class="form-control bg-body" type="search"
											placeholder="Search" aria-label="Search">
										<button
											class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
											type="submit">
											<i class="fas fa-search fs-6 "></i>
										</button>
									</form>
								</div>
							</div>
							<!-- Search and select END -->
						</div>
						<!-- Card header END -->

						<!-- Card body START -->
						<div class="card-body">
							<!-- Course table START -->
							<div class="table-responsive border-0 rounded-3">
								<!-- Table START -->
								<table
									class="table table-dark-gray align-middle p-4 mb-0 table-hover">
									<!-- Table head -->
									<thead>
										<tr>
											<th scope="col" class="border-0 rounded-start">Course
												Name</th>
											<th scope="col" class="border-0">Creator Name</th>
											<th scope="col" class="border-0">Added Date</th>
											<th scope="col" class="border-0">Status</th>
											<th scope="col" class="border-0 rounded-end">Action</th>
										</tr>
									</thead>

									<!-- Table body START -->
									<tbody>

										<!-- Table row -->
										<tr th:each="course : ${courses}">
											<!-- Table data -->
											<td>
												<div class="d-flex align-items-center position-relative">
													<!-- Image -->
													<div class="w-60px">
														<img
															th:src="@{'/private/course/course-image-file/ + ${course.courseImageFileName}'}"
															class="rounded" alt="">
													</div>
													<!-- Title -->
													<h6 class="table-responsive-title mb-0 ms-2">
														<a href="#" class="stretched-link"
															th:text="${course.courseTitle}"></a>
													</h6>
												</div>
											</td>

											<!-- Table data -->
											<td>
												<div class="d-flex align-items-center mb-3">
													<!-- Avatar 
										<div class="avatar avatar-xs flex-shrink-0">
											<img class="avatar-img rounded-circle" th:src="@{/public/assets/images/avatar/09.jpg}" alt="avatar">
										</div> -->
													<!-- Info -->
													<div class="ms-2">
														<h6 class="mb-0 fw-light" th:text="${course.users.name}"></h6>
													</div>
												</div>
											</td>

											<!-- Table data -->
											<td th:text="${#strings.substring(course.createdAt, 0, 10)}"></td>



											<!-- Table data -->
											<td><span
												class="badge bg-warning bg-opacity-15 text-warning"
												th:text="${course.status}"></span></td>

											<!-- Table data -->
											<td>
												<div th:if="${course.status} == 'Pending'">
													<a href="#"
														class="btn btn-sm btn-success-soft me-1 mb-1 mb-md-0">Approve</a>
													<button class="btn btn-sm btn-secondary-soft mb-0">Reject</button>
												</div>
												<div th:unless="${course.status} == 'Pending'">
													<a href="#" class="btn btn-sm btn-dark me-1 mb-1 mb-md-0">Edit</a>
													<a th:href="@{/admin/admin-course-detail}"
														class="btn btn-sm btn-warning me-1 mb-1 mb-md-0">Details</a>
												</div>
											</td>
										</tr>
									</tbody>
									<!-- Table body END -->
								</table>
								<!-- Table END -->
							</div>
							<!-- Course table END -->
						</div>
						<!-- Card body END -->

						<!-- Card footer START -->
						<div class="card-footer bg-transparent pt-0">
							<!-- Pagination START -->
							<div
								class="d-sm-flex justify-content-sm-center align-items-sm-center">
								<!-- Content -->
								<!-- Pagination -->
								<nav class="d-flex justify-content-center mb-0"
									aria-label="navigation">
									<ul
										class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
										<li class="page-item mb-0"><a class="page-link" href="#"
											tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
										<li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
										<li class="page-item mb-0 active"><a class="page-link"
											href="#">2</a></li>
										<li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
										<li class="page-item mb-0"><a class="page-link" href="#"><i
												class="fas fa-angle-right"></i></a></li>
									</ul>
								</nav>
							</div>
							<!-- Pagination END -->
						</div>
						<!-- Card footer END -->
					</div>
					<!-- Card END -->
				</div>
				<!-- Page main content END -->

			</div>
			<!-- Page content END -->

			<script th:src="@{/public/assets/vendor/choices/js/choices.min.js}"></script>
			<script
				th:src="@{/public/assets/vendor/overlay-scrollbar/js/overlayscrollbars.min.js}"></script>

		</th:block>
	</main>
	<!-- **************** MAIN CONTENT END **************** -->

</body>

<!-- Mirrored from diracetechnology.com/admin-course-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jul 2024 03:24:23 GMT -->
</html>