<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<head>
<!-- Favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico" />

<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com/" />
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap" />

<!-- Plugins CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/public/assets/vendor/font-awesome/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/public/assets/vendor/bootstrap-icons/bootstrap-icons.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/public/assets/vendor/apexcharts/css/apexcharts.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/public/assets/vendor/overlay-scrollbar/css/overlayscrollbars.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/public/assets/css/style.css}" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>


	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<th:block th:fragment="admin-dashboard">

			<!-- Page content START -->
			<div class="page-content">
				<!-- Page main content START -->
				<div class="page-content-wrapper border">
					<!-- Title -->
					<div class="row">
						<div class="col-12 mb-3">
							<h1 class="h3 mb-2 mb-sm-0">Dashboard</h1>
						</div>
					</div>

					<!-- Counter boxes START -->
					<div class="row g-4 mb-4">
						<!-- Counter item -->
						<div class="col-md-6 col-xxl-4">
							<div class="card card-body bg-warning bg-opacity-15 p-4 h-100">
								<div class="d-flex justify-content-between align-items-center">
									<!-- Digit -->
									<div>
										<h2 class="purecounter mb-0 fw-bold"
											data-purecounter-start="0"
											th:data-purecounter-end="${completeCourses}"
											data-purecounter-delay="200" th:text="${completeCourses}"></h2>
										<span class="mb-0 h6 fw-light">Completed Courses</span>
									</div>
									<!-- Icon -->
									<div class="icon-lg rounded-circle bg-warning text-white mb-0">
										<i class="fas fa-tv fa-fw"></i>
									</div>
								</div>
							</div>
						</div>

						<!-- Counter item -->
						<div class="col-md-6 col-xxl-4">
							<div class="card card-body bg-purple bg-opacity-10 p-4 h-100">
								<div class="d-flex justify-content-between align-items-center">
									<!-- Digit -->
									<div>
										<h2 class="purecounter mb-0 fw-bold"
											data-purecounter-start="0"
											th:data-purecounter-end="${enrolledCourses}"
											data-purecounter-delay="200" th:text="${enrolledCourses}"></h2>
										<span class="mb-0 h6 fw-light">Enrolled Courses</span>
									</div>
									<!-- Icon -->
									<div class="icon-lg rounded-circle bg-purple text-white mb-0">
										<i class="fas fa-user-tie fa-fw"></i>
									</div>
								</div>
							</div>
						</div>

						<!-- Counter item -->
						<div class="col-md-6 col-xxl-4">
							<div class="card card-body bg-primary bg-opacity-10 p-4 h-100">
								<div class="d-flex justify-content-between align-items-center">
									<!-- Digit -->
									<div>
										<h2 class="purecounter mb-0 fw-bold"
											data-purecounter-start="0"
											th:data-purecounter-end="${courseInProgress}"
											data-purecounter-delay="200" th:text="${courseInProgress}"></h2>
										<span class="mb-0 h6 fw-light">Course In Progress</span>
									</div>
									<!-- Icon -->
									<div class="icon-lg rounded-circle bg-primary text-white mb-0">
										<i class="fas fa-user-graduate fa-fw"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Counter boxes END -->

					<div class="row g-4 mb-4">
						<!-- Chart START -->
						<div class="col-xxl-8">
							<div class="card shadow h-100">
								<!-- Card header -->
								<div class="card-header p-4 border-bottom">
									<h5 class="card-header-title">Earnings</h5>
								</div>

								<!-- Card body -->
								<div class="card-body">
									<!-- Apex chart -->
									<div id="ChartPayout"></div>
								</div>
							</div>
						</div>
						<!-- Chart END -->

						<!-- Ticket START -->
						<div class="col-xxl-4">
							<div class="card shadow h-100">
								<!-- Card header -->
								<div
									class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
									<h5 class="card-header-title">Course Requests</h5>
									<a th:href="@{/admin/admin-instructor-request}"
										class="btn btn-link p-0 mb-0">View all</a>
								</div>

								<!-- Card body START -->
								<div class="card-body p-4">
									<!-- Ticket item START -->
									<div class="d-flex justify-content-between position-relative">
										<div class="d-sm-flex">
											<!-- Avatar -->
											<div class="avatar avatar-md flex-shrink-0">
												<img class="avatar-img rounded-circle"
													src="assets/images/avatar/09.jpg" alt="avatar" />
											</div>
											<!-- Info -->
											<div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
												<h6 class="mb-0">
													<a href="#" class="stretched-link">Lori Stevens</a>
												</h6>
												<p class="mb-0">New ticket #759 from Lori Stevens for
													General Enquiry</p>
												<span class="small">8 hour ago</span>
											</div>
										</div>
									</div>
									<!-- Ticket item END -->

									<hr />
									<!-- Divider -->

								</div>
								<!-- Card body END -->
							</div>
						</div>
						<!-- Ticket END -->
					</div>
					<!-- Chart and Ticket END -->



					<!-- Top listed Cards START -->
					<div class="row g-3">

						<!-- Top instructors START -->
						<div class="col-lg-6 col-xxl-4">
							<div class="card shadow h-100">

								<!-- Card header -->
								<div
									class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
									<h5 class="card-header-title">Top Instructors</h5>
									<a href="#" class="btn btn-link p-0 mb-0">View all</a>
								</div>

								<!-- Card body START -->
								<div class="card-body p-4">

									<!-- Instructor item START -->
									<div
										class="d-sm-flex justify-content-between align-items-center">
										<!-- Avatar and info -->
										<div class="d-sm-flex align-items-center mb-1 mb-sm-0">
											<!-- Avatar -->
											<div class="avatar avatar-md flex-shrink-0">
												<img class="avatar-img rounded-circle"
													th:src="@{/public/assets/images/avatar/09.jpg}"
													alt="avatar">
											</div>
											<!-- Info -->
											<div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
												<h6 class="mb-1">Lori Stevens</h6>
												<ul class="list-inline mb-0 small">
													<li class="list-inline-item fw-light me-2 mb-1 mb-sm-0"><i
														class="fas fa-book text-purple me-1"></i>25 Courses</li>

												</ul>
											</div>
										</div>
										<!-- Button -->
										<a href="#" class="btn btn-sm btn-light mb-0">View</a>
									</div>
									<!-- Instructor item END -->
									<hr>
									<!-- Divider -->
								</div>
								<!-- Card body END -->
							</div>
						</div>
						<!-- Top instructors END -->

						<div class="col-lg-6 col-xxl-4">
							<div class="card shadow h-100">

								<!-- Card header -->
								<div
									class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
									<h5 class="card-header-title">Top Students</h5>
									<a href="#" class="btn btn-link p-0 mb-0">View all</a>
								</div>

								<!-- Card body START -->
								<div class="card-body p-4">

									<!-- Student item START -->
									<div
										class="d-sm-flex justify-content-between align-items-center">
										<!-- Avatar and info -->
										<div class="d-sm-flex align-items-center mb-1 mb-sm-0">
											<!-- Avatar -->
											<div class="avatar avatar-md flex-shrink-0">
												<img class="avatar-img rounded-circle"
													th:src="@{/public/assets/images/avatar/09.jpg}"
													alt="avatar">
											</div>
											<!-- Info -->
											<div class="ms-0 ms-sm-2 mt-2 mt-sm-0">
												<h6 class="mb-1">Lori Stevens</h6>
												<ul class="list-inline mb-0 small">
													<li class="list-inline-item fw-light me-2 mb-1 mb-sm-0"><i
														class="fas fa-book text-purple me-1"></i>25 Courses</li>

												</ul>
											</div>
										</div>
										<!-- Button -->
										<a href="#" class="btn btn-sm btn-light mb-0">View</a>
									</div>
									<!-- Student item END -->

									<hr>
									<!-- Divider -->

								</div>
								<!-- Card body END -->
							</div>
						</div>
						<!-- Top Students END -->
						<!-- Traffic sources START -->
						<div class="col-lg-6 col-xxl-4">
							<div class="card shadow h-100">

								<!-- Card header -->
								<div
									class="card-header border-bottom d-flex justify-content-between align-items-center p-4">
									<h5 class="card-header-title">Traffic Sources</h5>
									<a href="#" class="btn btn-link p-0 mb-0">View all</a>
								</div>

								<!-- Card body START -->
								<div class="card-body p-4">
									<!-- Chart -->
									<div class="col-sm-6 mx-auto">
										<div id="ChartTrafficViews"></div>
									</div>

									<!-- Content -->
									<ul class="list-group list-group-borderless mt-3">
										<li class="list-group-item"><i
											class="text-primary fas fa-circle me-2"></i>Create a Design
											System in Figma</li>
										<li class="list-group-item"><i
											class="text-success fas fa-circle me-2"></i>The Complete
											Digital Marketing Course - 12 Courses in 1</li>
										<li class="list-group-item"><i
											class="text-warning fas fa-circle me-2"></i>Google Ads
											Training: Become a PPC Expert</li>
										<li class="list-group-item"><i
											class="text-danger fas fa-circle me-2"></i>Microsoft Excel -
											Excel from Beginner to Advanced</li>
									</ul>
								</div>
							</div>
							<!-- Card body END -->
						</div>
						<!-- Traffic sources END -->

					</div>
					<!-- Top listed Cards END -->

					<!-- Tabs content item START -->

					<!-- <label for="start-date">Start Date:</label> <input type="date"
						id="start-date" name="start-date"> <label for="end-date">End
						Date:</label> <input type="date" id="end-date" name="end-date"> -->


					<!-- Table START -->
					<div class="table-responsive border-0 mt-5 mb-3">
						<h2>Course Performance Report</h2>
						<table
							class="table table-dark-gray align-middle p-4 mt-3 mb-0 table-hover">
							<!-- Table head -->
							<thead>
								<tr>
									<th scope="col" class="border-0 rounded-start">Course
										Title</th>
									<th scope="col" class="border-0">Course Id</th>
									<th scope="col" class="border-0">Instructor</th>
									<th scope="col" class="border-0">Created At</th>
									<th scope="col" class="border-0">Total Enrollment</th>
									<th scope="col" class="border-0">Monthly Enrollment</th>
									<th scope="col" class="border-0">Yearly Enrollment</th>
									<th scope="col" class="border-0">Completion Rate</th>
									<th scope="col" class="border-0">Average Score</th>
								</tr>
							</thead>

							<!-- Table body START -->
							<tbody>

								<!-- Table row -->
								<tr th:each="report : ${reports}">
									<td>
										<div class="d-flex align-items-center position-relative">
											<!-- Image -->
											<div class="w-100px">
												<img
													th:src="@{'/private/course/course-image-file/' + ${report.courseImage}}"
													class="rounded">
											</div>
											<!-- Title -->
											<h6 class="table-responsive-title mb-0 ms-2">
												<a
													th:href="@{/admin/edit-course-detail(courseId=${report.courseId})}"
													class="stretched-link" th:text="${report.courseTitle}"></a>
											</h6>
										</div>
									</td>
									<!-- Table data -->
									<td th:text="${report.courseId}"></td>
									<!-- Table data -->
									<td th:text="${report.instructor}"></td>
									<!-- Table data -->
									<td th:text="${#strings.substring(report.createdAt,0 ,10)}"></td>
									<!-- Table data -->
									<td th:text="${report.enrollment}"></td>
									<!-- Table data -->
									<td th:text="${report.monthlyEnrolledUser}"></td>
									<!-- Table data -->
									<td th:text="${report.yearlyEnrolledUser}"></td>
									<!-- Table data -->
									<td th:text="${report.completionRate + '%'}"></td>
									<!-- Table data -->
									<td th:text="${report.averageScore}"></td>
								</tr>

							</tbody>
							<!-- Table body END -->
						</table>
					</div>
					<!-- Table END -->
					
					<!-- user activity report -->
					<!-- Table START -->
					<div class="table-responsive border-0 mt-5 mb-3">
						<h2>User Activity Log Report</h2>

						<!-- Filter Form START -->
						<form method="get" action="#" th:action="@{/admin/admin-dashboard}">
							<label for="timeRange">Filter by:</label> <select id="timeRange"
								name="timeRange" class="form-select w-auto d-inline">
								<option value="all" th:selected="${timeRange == 'all'}">All
									Logs</option>
								<option value="week" th:selected="${timeRange == 'week'}">Last
									Week</option>
								<option value="month" th:selected="${timeRange == 'month'}">Last
									Month</option>
								<option value="year" th:selected="${timeRange == 'year'}">Last
									Year</option>
							</select>
							<button type="submit" class="btn btn-primary">Filter</button>
						</form>
						<!-- Filter Form END -->

						<table

							class="table table-dark-gray align-middle p-4 mt-3 mb-0 table-hover">
							<!-- Table head -->
							<thead>
								<tr>

									<th scope="col" class="border-0">Log Id</th>
									<th scope="col" class="border-0">User Name</th>
									<th scope="col" class="border-0">Login Time</th>
									<th scope="col" class="border-0">Logout Time</th>

								</tr>
							</thead>

							<!-- Table body START -->
							<tbody>

								<!-- <!-- Table row -->
								<tr th:each="log : ${logs}">

									<td th:text="${log.id}"></td>

									<td th:text="${log.user.name}"></td>

									<td
										th:text="${#temporals.format(log.loginTime, 'yyyy-MM-dd hh:mm a')}"></td>

									<td th:style="${log.logoutTime == null} ? 'color: green;' : ''"
										th:text="${log.logoutTime != null ? #temporals.format(log.logoutTime, 'yyyy-MM-dd hh:mm a') : 'Active Session'}"></td>
								</tr>

							</tbody>
							<!-- Table body END -->
						</table>
					</div>
					<!-- Table END -->
					<!-- end user activity report -->
				</div>
				<!-- Tabs content END -->
			</div>



			<!-- Page main content END -->
			<!-- Page content END -->
		</th:block>
	</main>
	<!-- **************** MAIN CONTENT END **************** -->
	<!-- Back to top -->
	<div class="back-top">
		<i
			class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
	</div>

	<!-- Bootstrap JS -->
	<script
		th:src="@{/public/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

	<!-- Vendors -->
	<script
		th:src="@{/public/assets/vendor/purecounterjs/dist/purecounter_vanilla.js}"></script>
	<script
		th:src="@{/public/assets/vendor/apexcharts/js/apexcharts.min.js}"></script>
	<script
		th:src="@{/public/assets/vendor/overlay-scrollbar/js/overlayscrollbars.min.js}"></script>

	<!-- Template Functions -->
	<script th:src="@{/public/assets/js/functions.js}"></script>
</body>
</html>