<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<th:block th:fragment="admin-course-category">
			<!-- Page content START -->
			<div class="page-content">
				<div class="page-content-wrapper border">
					<div class="container mt-4">
						<div class="row mb-3">
							<div
								class="col-12 d-sm-flex justify-content-between align-items-center">
								<h1 class="h3 mb-2 mb-sm-0">
									Course Categories <span
										class="badge bg-orange bg-opacity-10 text-orange"
										th:text="${categoryCount}"></span>
								</h1>

								<a class="btn btn-sm btn-primary mb-0" data-bs-toggle="modal"
									data-bs-target="#createCategory" data-whatever="Category">Create
									a Course Category</a>

							</div>
						</div>
					</div>

					<!-- Create Modal Start -->
					<div class="modal fade" id="createCategory" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Course
										Category</h5>
								</div>
								<form th:action="@{/admin/admin-course-category}" method="post">
									<div class="modal-body">
										<div class="form-group">
											<label for="category-name" class="col-form-label">Category
												Name:</label> <input type="text" class="form-control"
												id="category-name" name="categoryName" required>
										</div>
									</div>
									<div class="modal-footer">

										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- Create Modal End -->

					<!-- Card START -->
					<div class="card bg-transparent border">
						<div class="card-header bg-light border-bottom">
							<div class="row g-3 align-items-center justify-content-between">
								<div class="col-md-8"></div>
								<div class="col-md-4">
									<form class="rounded position-relative"
										th:action="@{/admin/admin-course-category/search}"
										method="get">
										<input class="form-control bg-body" type="search"
											name="search" th:value="${search}" placeholder="Search"
											aria-label="Search">
										<button
											class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
											type="submit">
											<i class="fas fa-search fs-6"></i>
										</button>
									</form>

								</div>
							</div>
						</div>

						<div class="card-body">
							<div class="table-responsive border-0 rounded-3">
								<table
									class="table table-dark-gray align-middle p-4 mb-0 table-hover table-striped">
									<thead>
										<tr>
											<th scope="col" class="border-0 rounded-start">Course
												Category</th>
											<th scope="col" class="border-0">Courses</th>
											<th scope="col" class="border-0">Category Created By</th>
											<th scope="col" class="border-0 rounded-end">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="category : ${courseCategories}">
											<td>
												<div class="d-flex align-items-center position-relative">
													<h6 class="table-responsive-title mb-0 ms-2">
														<a href="#" class="stretched-link"
															th:text="${category.categoryName}"></a>
													</h6>
												</div>
											</td>
											<td>
												<ul>
													<li th:each="course : ${category.courses}"
														th:text="${course.courseTitle}"></li>
												</ul>
											</td>
											<td th:text="${category.users.name}"></td>
											<td><a class="btn btn-sm btn-success me-1 mb-1 mb-md-0"
												th:data-id="${category.id}" data-bs-toggle="modal"
												data-bs-target="#editCategory">Edit</a>
												<form
													th:action="@{/admin/admin-course-category/delete/{id}(id=${category.id})}"
													method="post" style="display: inline;"
													onsubmit="return confirm('Are you sure?');">
													<button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
												</form></td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>

						<div class="card-footer bg-transparent pt-0">

							<div
								class="d-sm-flex justify-content-center align-items-sm-center">
								<nav class="d-flex justify-content-center mb-0"
									aria-label="navigation">
									<ul
										class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
										<!-- Previous button: only show if not on the first page -->
										<li th:if="${currentPage > 0}" class="page-item mb-0"><a
											class="page-link"
											th:href="@{/admin/admin-course-category/search(page=${currentPage - 1}, search=${search})}"
											tabindex="-1"> <i class="fas fa-angle-left"></i>
										</a></li>

										<!-- Page numbers: show only if totalPages > 1 -->
										<li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
											th:classappend="${i == currentPage} ? 'active' : ''"
											th:if="${totalPages > 1}" class="page-item mb-0"><a
											class="page-link" th:text="${i + 1}"
											th:href="@{/admin/admin-course-category/search(page=${i}, search=${search})}">1</a>
										</li>
										<!-- Next button: only show if not on the last page -->
										<li th:if="${currentPage < totalPages - 1}"
											class="page-item mb-0"><a class="page-link"
											th:href="@{/admin/admin-course-category/search(page=${currentPage + 1}, search=${search})}">
												<i class="fas fa-angle-right"></i>
										</a></li>
									</ul>
								</nav>
							</div>
						</div>

					</div>

				</div>


			</div>



			<!-- Edit Modal Start -->

			<div th:each="category : ${courseCategories}">

				<div class="modal fade" id="editCategory" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="editCategory">Edit Course
									Category</h5>

							</div>
							<form th:action="@{/admin/admin-course-category/edit}"
								method="post">
								<div class="modal-body">
									<div class="form-group">
										<label for="edit-category-name" class="col-form-label">Category
											Name:</label> <input type="text" class="form-control"
											id="edit-category-name" name="categoryName"> <input
											type="hidden" id="categoryId" name="categoryId">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Save
										changes</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</th:block>
		<!-- Edit Modal End -->
	</main>

	<!-- **************** MAIN CONTENT END **************** -->
	<script>
		var myModal = document.getElementById('editCategory');
		myModal.addEventListener('show.bs.modal', function(event) {
			var button = event.relatedTarget;
			var categoryId = button.getAttribute('data-id');
			var input = myModal.querySelector('#categoryId');
			var display = myModal.querySelector('#edit-category-name');
			input.value = categoryId;
			//display.value = 

			console.log(categoryId);
		});
	</script>
</body>
</html>
