<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Main Page</title>
</head>
<body>
	<th:block th:fragment="instructor-coures-list">
		<!-- Main content START -->
		<div class="col-xl-9">

			<!-- Button -->
			<div class="d-flex justify-content-end my-2 mt-md-0 ">
				<a th:href="@{/instructor/create-course(action='add')}"
					class="btn btn-success mb-0">Create a course</a>
			</div>
			<!-- Card START -->
			<div class="card border bg-transparent rounded-3">
				<!-- Card header START -->
				<div class="card-header bg-transparent border-bottom">
					<h3 class="mb-0">My Courses List</h3>
				</div>
				<!-- Card header END -->

				<!-- Card body START -->
				<div class="card-body">

					<!-- Search and select START -->
					<div
						class="row g-3 align-items-center justify-content-between mb-4">
						<!-- Search -->
						<div class="col-md-8"></div>
						<div class="col-md-4">
							<form class="rounded position-relative">
								<input class="form-control pe-5 bg-transparent" type="search"
									placeholder="Search" aria-label="Search">
								<button
									class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
									type="submit">
									<i class="fas fa-search fs-6 "></i>
								</button>
							</form>
						</div>


					</div>
					<!-- Search and select END -->

					<!-- Course list table START -->
					<div class="table-responsive border-0">
						<table
							class="table table-dark-gray align-middle p-4 mb-0 table-hover">
							<!-- Table head -->
							<thead>
								<tr>
									<th scope="col" class="border-0 rounded-start">Course Name</th>
									<th scope="col" class="border-0">Creator Name</th>
									<th scope="col" class="border-0">Enrolled</th>
									<th scope="col" class="border-0">Status</th>
									<th scope="col" class="border-0 rounded-end">Action</th>
								</tr>
							</thead>

							<!-- Table body START -->
							<tbody>
								<!-- Table item -->
								<tr th:each="course : ${courses}">
									<!-- Course item -->
									<td>
										<div class="d-flex align-items-center">
											<!-- Image -->
											<div class="w-60px">
												<img
													th:if="${course != null && course.courseImageFileName != null}"
													th:src="@{'/private/course/course-image-file/' + ${course.courseImageFileName}}"
													class="rounded">
											</div>
											<div class="mb-0 ms-2">
												<!-- Title -->
												<h6>
													<a href="#" th:text="${course.courseTitle}"></a>
												</h6>
												<!-- Info -->
												<div class="d-sm-flex">
													<p class="h6 fw-light mb-0 small me-3">
														<i class="fas fa-table text-orange me-2"></i> <span
															th:text="${course.courseModule.size}"></span>
													</p>
												</div>
											</div>
										</div>
									</td>

									<!-- Table data -->
									<td>
										<div class="d-flex align-items-center mb-3">
											<!-- Avatar -->
											<div class="avatar avatar-xs flex-shrink-0">

												<img class="avatar-img rounded-circle"
													th:if="${course.users.profile != null && course.users.profile.profileImg != null}"
													th:src="@{'/private/profile/user-profile/' + ${course.users.profile.profileImg}}"
													alt="avatar"> <img class="avatar-img rounded-circle"
													th:unless="${course.users.profile != null && course.users.profile.profileImg != null}"
													th:src="@{'/public/assets/images/avatar/06.jpg'}"
													alt="avatar">

											</div>
											<!-- Info -->
											<div class="ms-2">
												<h6 class="mb-0 fw-light" th:text="${course.users.name}"></h6>
											</div>
										</div>
									</td>

									<!-- Enrolled item -->
									<td class="text-center text-sm-start"
										th:text="${course.enrolledCourses.size}"></td>
									<!-- Status item -->
									<td>
										<div class="badge bg-success bg-opacity-10 text-success"
											th:text="${course.status}"></div>
									</td>
									<!-- Action item -->
									<td>
										<div th:if="${course.status == 'Pending'}">
											<button class="btn btn-sm btn-danger-soft btn-round mb-0"
												disabled>
												<i class="fas fa-fw fa-times"></i>
											</button>
										</div>
										<div th:if="${course.status == 'Activated'}">
											<a
												th:href="@{/instructor/edit-course-detail(courseId=${course.id})}"
												class="btn btn-sm btn-warning me-1 mb-1 mb-md-0">Edit </a> 
											<a
												th:href="@{/instructor/instructor-report(courseId=${course.id})}"
												class="btn btn-sm btn-info me-1 mb-1 mb-md-0">View Analytics </a> 
											<span th:if="${course.isCourseAssignmentPresent == false}">
												<a
												th:href="@{/instructor/edit-course-detail(courseId=${course.id})}"
												class="btn btn-sm btn-primary me-1 mb-1 mb-md-0">Add
													Assignment To Enroll</a>
											</span>
										</div>
									</td>
								</tr>
							</tbody>
							<!-- Table body END -->
						</table>
					</div>
					<!-- Course list table END -->

					<!-- Pagination START -->
					<div
						class="d-sm-flex justify-content-sm-center align-items-sm-center mt-4 mt-sm-3">

						<!-- Pagination -->
						<!-- <nav class="d-flex justify-content-center mt-1"
							aria-label="navigation">
							<ul class="pagination pagination-primary-soft rounded mb-0">
								<li class="page-item " th:if="${currentPage > 0}">
								<a class="page-link" th:href="@{/instructor/instructor-manage-course(page=${previousPage})}"
									tabindex="-1"><i class="fas fa-angle-double-left"></i></a></li>
								<li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
									class="page-item"
									th:classappend="${currentPage == i} ? 'active'"><a
									class="page-link" th:href="@{/instructor/instructor-manage-course(page=${i})}"
									th:text="${i + 1}">1</a></li>
								<li class="page-item"
									th:if="${currentPage < totalPages - 1}">
									<a class="page-link" th:href="@{/instructor/instructor-manage-course(page=${nextPage})}">
										<i class="fas fa-angle-double-right"></i>
								</a>
								</li>
							</ul>
						</nav> -->
						<!-- Pagination END -->
					</div>
					<!-- Card body START -->
				</div>
				<!-- Card END -->
			</div>
			<!-- Main content END -->
		</div>
	</th:block>
</body>
</html>