<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Main Page</title>
</head>
<body>
	<th:block th:fragment="student-main">
	<!-- Main content START -->
			<div class="col-xl-9">

				<!-- Button -->
				<div class="d-flex justify-content-end my-2 mt-md-0 ">
					<a th:href="@{/instructor/instructor-create-course}" class="btn btn-success mb-0">Create a course</a>
				</div>
				<!-- Card START -->
				<div class="card border bg-transparent rounded-3">
					<!-- Card header START -->
					<div class="card-header bg-transparent border-bottom">
						<h3 class="mb-0">My Courses List</h3>
					</div>
					<!-- Card header END -->

					<!-- Card body START -->
					<div class="card-body">

						<!-- Search and select START -->
						<div class="row g-3 align-items-center justify-content-between mb-4">
							<!-- Search -->
							<div class="col-md-8"></div>
							<div class="col-md-4">
								<form class="rounded position-relative">
									<input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
									<button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
								<i class="fas fa-search fs-6 "></i>
								</button>
								</form>
							</div>

							
						</div>
						<!-- Search and select END -->

						<!-- Course list table START -->
						<div class="table-responsive border-0">
							<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
								<!-- Table head -->
								<thead>
									<tr>
										<th scope="col" class="border-0 rounded-start">Course Title</th>
										<th scope="col" class="border-0">Enrolled</th>
										<th scope="col" class="border-0">Status</th>
										<th scope="col" class="border-0 rounded-end">Action</th>
									</tr>
								</thead>

								<!-- Table body START -->
								<tbody>
									<!-- Table item -->
									<tr>
										<!-- Course item -->
										<td>
											<div class="d-flex align-items-center">
												<!-- Image -->
												<div class="w-60px">
													<img th:src="@{/public/assets/images/courses/4by3/08.jpg}" class="rounded" alt="photo">
												</div>
												<div class="mb-0 ms-2">
													<!-- Title -->
													<h6><a href="#">Building Scalable APIs with GraphQL</a></h6>
													<!-- Info -->
													<div class="d-sm-flex">
														<p class="h6 fw-light mb-0 small me-3"><i class="fas fa-table text-orange me-2"></i>18 lectures</p>
											
													</div>
												</div>
											</div>
										</td>
										<!-- Enrolled item -->
										<td class="text-center text-sm-start">125</td>
										<!-- Status item -->
										<td>
											<div class="badge bg-success bg-opacity-10 text-success">Live</div>
										</td>
										<!-- Action item -->
										<td>
											<a th:href="@{/instructor/instructor-create-course}" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
											<button class="btn btn-sm btn-danger-soft btn-round mb-0"><i class="fas fa-fw fa-times"></i></button>
										</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Course item -->
										<td>
											<div class="d-flex align-items-center">
												<!-- Image -->
												<div class="w-60px">
													<img th:src="@{/public/assets/images/courses/4by3/10.jpg}" class="rounded" alt="">
												</div>
												<div class="mb-0 ms-2">
													<!-- Title -->
													<h6><a href="#">Bootstrap 5 From Scratch</a></h6>
													<!-- Info -->
													<div class="d-sm-flex">
														<p class="h6 fw-light mb-0 small me-3"><i class="fas fa-table text-orange me-2"></i>0 lectures</p>
														
													</div>
												</div>
											</div>
										</td>
										<!-- Enrolled item -->
										<td class="text-center text-sm-start">145</td>
										<!-- Status item -->
										<td>
											<div class="badge bg-secondary bg-opacity-10 text-secondary">Disable</div>
										</td>
										<!-- Action item -->
										<td>
											<a th:href="@{/instructor/instructor-create-course}" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
											<button class="btn btn-sm btn-danger-soft btn-round mb-0"><i class="fas fa-fw fa-times"></i></button>
										</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Course item -->
										<td>
											<div class="d-flex align-items-center">
												<!-- Image -->
												<div class="w-60px">
													<img th:src="@{/public/assets/images/courses/4by3/06.jpg}" class="rounded" alt="">
												</div>
												<div class="mb-0 ms-2">
													<!-- Title -->
													<h6><a href="#">Angular – The Complete Guider</a></h6>
													<!-- Info -->
													<div class="d-sm-flex">
														<p class="h6 fw-light mb-0 small me-3"><i class="fas fa-table text-orange me-2"></i>37 lectures</p>
														
													</div>
												</div>
											</div>
										</td>
										<!-- Enrolled item -->
										<td class="text-center text-sm-start">145</td>
										<!-- Status item -->
										<td>
											<div class="badge bg-success bg-opacity-10 text-success">Live</div>
										</td>
										<!-- Action item -->
										<td>
											<a href="#" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
											<button class="btn btn-sm btn-danger-soft btn-round mb-0"><i class="fas fa-fw fa-times"></i></button>
										</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Course item -->
										<td>
											<div class="d-flex align-items-center">
												<!-- Image -->
												<div class="w-60px">
													<img th:src="@{/public/assets/images/courses/4by3/02.jpg}" class="rounded" alt="">
												</div>
												<div class="mb-0 ms-2">
													<!-- Title -->
													<h6><a href="#">Graphic Design Masterclass</a></h6>
													<!-- Info -->
													<div class="d-sm-flex">
														<p class="h6 fw-light mb-0 small me-3"><i class="fas fa-table text-orange me-2"></i>58 lectures</p>
														
													</div>
												</div>
											</div>
										</td>
										<!-- Enrolled item -->
										<td class="text-center text-sm-start">0</td>
										<!-- Status item -->
										<td>
											<div class="badge bg-info bg-opacity-10 text-info">Applied</div>
										</td>
										<!-- Action item -->
										<td>
											<a href="#" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
											<button class="btn btn-sm btn-danger-soft btn-round mb-0"><i class="fas fa-fw fa-times"></i></button>
										</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Course item -->
										<td>
											<div class="d-flex align-items-center">
												<!-- Image -->
												<div class="w-60px">
													<img th:src="@{/public/assets/images/courses/4by3/04.jpg}" class="rounded" alt="">
												</div>
												<div class="mb-0 ms-2">
													<!-- Title -->
													<h6><a href="#">Learn Invision</a></h6>
													<!-- Info -->
													<div class="d-sm-flex">
														<p class="h6 fw-light mb-0 small me-3"><i class="fas fa-table text-orange me-2"></i>16 lectures</p>
														
													</div>
												</div>
											</div>
										</td>
										<!-- Enrolled item -->
										<td class="text-center text-sm-start">0</td>
										<!-- Status item -->
										<td>
											<div class="badge bg-danger bg-opacity-10 text-danger">Rejected</div>
										</td>
										<!-- Action item -->
										<td>
											<a href="#" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
											<button class="btn btn-sm btn-danger-soft btn-round mb-0"><i class="fas fa-fw fa-times"></i></button>
										</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Course item -->
										<td>
											<div class="d-flex align-items-center">
												<!-- Image -->
												<div class="w-60px">
													<img th:src="@{/public/assets/images/courses/4by3/03.jpg}" class="rounded" alt="">
												</div>
												<div class="mb-0 ms-2">
													<!-- Title -->
													<h6><a href="#">Create a Design System in Figma</a></h6>
													<!-- Info -->
													<div class="d-sm-flex">
														<p class="h6 fw-light mb-0 small me-3"><i class="fas fa-table text-orange me-2"></i>25 lectures</p>
														
													</div>
												</div>
											</div>
										</td>
										<!-- Enrolled item -->
										<td class="text-center text-sm-start">0</td>
										<!-- Status item -->
										<td>
											<div class="badge bg-info bg-opacity-10 text-info">Applied</div>
										</td>
										<!-- Action item -->
										<td>
											<a href="#" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
											<button class="btn btn-sm btn-danger-soft btn-round mb-0"><i class="fas fa-fw fa-times"></i></button>
										</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Course item -->
										<td>
											<div class="d-flex align-items-center">
												<!-- Image -->
												<div class="w-60px">
													<img th:src="@{/public/assets/images/courses/4by3/07.jpg}" class="rounded" alt="">
												</div>
												<div class="mb-0 ms-2">
													<!-- Title -->
													<h6><a href="#">Deep Learning with React-Native</a></h6>
													<!-- Info -->
													<div class="d-sm-flex">
														<p class="h6 fw-light mb-0 small me-3"><i class="fas fa-table text-orange me-2"></i>18 lectures</p>
														
													</div>
												</div>
											</div>
										</td>
										<!-- Enrolled item -->
										<td class="text-center text-sm-start">186</td>
										<!-- Status item -->
										<td>
											<div class="badge bg-success bg-opacity-10 text-success">Live</div>
										</td>
										<!-- Action item -->
										<td>
											<a href="#" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
											<button class="btn btn-sm btn-danger-soft btn-round mb-0"><i class="fas fa-fw fa-times"></i></button>
										</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Course item -->
										<td>
											<div class="d-flex align-items-center">
												<!-- Image -->
												<div class="w-60px">
													<img th:src="@{/public/assets/images/courses/4by3/11.jpg}" class="rounded" alt="">
												</div>
												<div class="mb-0 ms-2">
													<!-- Title -->
													<h6><a href="#">Build Responsive Websites with HTML</a></h6>
													<!-- Info -->
													<div class="d-sm-flex">
														<p class="h6 fw-light mb-0 small me-3"><i class="fas fa-table text-orange me-2"></i>42 lectures</p>
														
													</div>		
												</div>
											</div>
										</td>
										<!-- Enrolled item -->
										<td class="text-center text-sm-start">345</td>
										<!-- Status item -->
										<td>
											<div class="badge bg-success bg-opacity-10 text-success">Live</div>
										</td>
										<!-- Action item -->
										<td>
											<a href="#" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
											<button class="btn btn-sm btn-danger-soft btn-round mb-0"><i class="fas fa-fw fa-times"></i></button>
										</td>
									</tr>
								</tbody>
								<!-- Table body END -->
							</table>
						</div>
						<!-- Course list table END -->

						<!-- Pagination START -->
						<div class="d-sm-flex justify-content-sm-center align-items-sm-center mt-4 mt-sm-3">

							<!-- Pagination -->
							<!-- <nav class="d-flex justify-content-center mt-1"
							aria-label="navigation">
							<ul class="pagination pagination-primary-soft rounded mb-0">
								<li class="page-item " th:if="${currentPage > 0}">
								<a class="page-link" th:href="@{/instructor/instructor-manage-course(page=${previousPage})}"
									tabindex="-1"><i class="fas fa-angle-double-left"></i></a></li>
								<li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
									class="page-item"
									th:classappend="${currentPage == i} ? 'active'"><a
									class="page-link" th:href="@{/instructor/instructor-manage-course(page=${i})}"
									th:text="${i + 1}">1</a></li>
								<li class="page-item"
									th:if="${currentPage < totalPages - 1}">
									<a class="page-link" th:href="@{/instructor/instructor-manage-course(page=${nextPage})}">
										<i class="fas fa-angle-double-right"></i>
								</a>
								</li>
							</ul>
						</nav> -->
						<!-- Pagination END -->
					</div>
					<!-- Card body START -->
				</div>
				<!-- Card END -->
			</div>
			<!-- Main content END -->	
	
	</th:block>
</body>
</html>