<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<meta charset="UTF-8">
<title>DAT Growth Hub</title>
<!-- Stylesheets -->
<th:block th:replace="~{fragments/stylesheets :: stylesheets}"></th:block>

<!-- Dark Mode Script -->
<th:block th:replace="~{fragments/darkmode-script :: darkmode-script}"></th:block>
</head>
<body>
	<!-- Sidebar -->
	<div th:replace="~{admin/admin-sidebar :: admin-sidebar}"></div>
	
	<!-- Include navbar -->

	<div th:replace="~{admin/admin-navbar :: admin-navbar}"></div>

	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<!-- Page main content START -->
		<th:block th:fragment="admin-edit-course-detail">
			<!-- Page content START -->
			<div class="page-content">
				<!-- Page main content START -->
				<div class="page-content-wrapper border">

					<!-- Row START -->
					<div class="row g-4 mb-5">
						<!-- Course information START -->
						<div class="col-xxl-6">
							<div class="card bg-transparent border rounded-3 h-100">

								<!-- Catd header -->
								<div class="card-header bg-light border-bottom">
									<h5 class="card-header-title" th:text="${course.courseTitle}"></h5>
								</div>

								<!-- Card body START -->
								<div class="card-body">

									<!-- Course image and info START -->
									<div class="row g-4">
										<!-- Course image -->
										<div class="col-md-6">
											<img
												th:src="@{'/private/course/course-image-file/' + ${course.courseImageFileName}}"
												class="rounded" alt="">
										</div>
										<!-- Course info and avatar -->
										<div class="col-md-6">
											<!-- Info -->
											<p class="mb-3" th:text="${course.courseInfo}"></p>
											<!-- Avatar -->
											<div class="d-sm-flex align-items-center">
												<!-- Avatar image -->
												<div class="avatar avatar-md">
													<img class="avatar-img rounded-circle"
														th:if="${course.users.profile != null && course.users.profile.profileImg != null}"
														th:src="@{'/private/profile/user-profile/' + ${course.users.profile.profileImg}}"
														alt="avatar"> <img class="avatar-img rounded-circle"
														th:unless="${course.users.profile != null && course.users.profile.profileImg != null}"
														th:src="@{/public/assets/images/avatar/06.jpg}"
														alt="avatar">
												</div>
												<div class="ms-sm-3 mt-2 mt-sm-0">
													<h6 class="mb-0">
														<a href="#" th:text="${user.name}"></a>
													</h6>
													<p class="mb-0 small" th:text="${user.division}"></p>
												</div>
											</div>
										</div>
									</div>
									<!-- Course image and info END -->

									<!-- Information START -->
									<div class="row mt-3">

										<!-- Information item -->
										<div class="col-md-6">
											<ul class="list-group list-group-borderless">
												<li class="list-group-item"><span>release date:</span>
													<span class="h6 mb-0"
													th:text="${#strings.substring(course.createdAt, 0, 10)}"></span>
												</li>
												<li class="list-group-item"><span>Total
														Enrolled:</span> <span class="h6 mb-0" th:text="${totalEnrolled}"></span>
												</li>
												<li class="list-group-item"><span>Certificate:</span> <span
													class="h6 mb-0">Yes</span></li>

											</ul>
											<!-- Info -->
											<ul class="col-md-6 list-inline mb-2">
												<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i
													class="far fa-clock text-danger me-2"
													th:text="'  ' + ${course.duration} + ' h'"></i></li>
												<li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i
													class="fas fa-table text-orange me-2"
													th:text="'  ' + ${totalModules} + ' modules'"></i></li>
											</ul>
										</div>

										<!-- Information item -->
										<div class="col-md-6">
											<ul class="list-group list-group-borderless">
												<li class="list-group-item"><span>Total Modules:</span>
													<span class="h6 mb-0" th:text=${totalModules}></span></li>
											</ul>
										</div>
									</div>
									<!-- Information END -->
								</div>
								<!-- Card body END -->
							</div>
						</div>
						<!-- Course information END -->

						<!-- Chart START -->
						<div class="col-xxl-6">
							<div class="row g-4">

								<!-- Active student START -->
								<div class="col-md-6 col-xxl-12">
									<div class="card bg-transparent border overflow-hidden">
										<!-- Card header -->
										<div class="card-header bg-light border-bottom">
											<h5 class="card-header-title mb-0">Course Completed This
												Month</h5>
										</div>
										<!-- Card body -->
										<div class="card-body p-0">
											<div class="d-sm-flex justify-content-between p-4">
												<h4 class="text-blue mb-0">$12,586</h4>
												<p class="mb-0">
													<span class="text-success me-1">0.20%<i
														class="bi bi-arrow-up"></i></span>vs last Week
												</p>
											</div>
											<!-- Apex chart -->
											<div id="activeChartstudent"></div>
										</div>
									</div>
								</div>
								<!-- Active student END -->

								<!-- Enrolled START -->
								<div class="col-md-6 col-xxl-12">
									<div class="card bg-transparent border overflow-hidden">
										<!-- Card header -->
										<div class="card-header bg-light border-bottom">
											<h5 class="card-header-title mb-0">New Enrollment This
												Month</h5>
										</div>
										<!-- Card body -->
										<div class="card-body p-0">
											<div class="d-sm-flex justify-content-between p-4">
												<h4 class="text-blue mb-0">186</h4>
												<p class="mb-0">
													<span class="text-success me-1">0.35%<i
														class="bi bi-arrow-up"></i></span>vs last Week
												</p>
											</div>
											<!-- Apex chart -->
											<div id="activeChartstudent2"></div>
										</div>
									</div>
								</div>
								<!-- Enrolled END -->

							</div>
						</div>
						<!-- Chart END -->

					</div>
					<!-- Row END -->

					<!-- Main content START -->
					<div class="col-xl-12">
						<!-- Course item START -->
						<div class="card border">
							<div class="card-body">
								<!-- Title -->
								<div class="row mt-3 mb-5 ms-1">
									<h5>Course Curriculum</h5>
								</div>

								<!-- Accordion START -->
								<div class="accordion accordion-icon accordion-bg-light"
									id="accordionExample2">
									<div
										class="d-sm-flex justify-content-sm-end align-items-center mb-3">
										<a
											th:href="@{|/${map}/edit-course-detail/add-module|(courseId=${courseId})}"
											class="btn btn-sm btn-primary-soft mb-0"><i
											class="bi bi-plus-circle me-2"></i>Add Module</a>
									</div>
									<div th:each="courseModule,iterStat : ${course.courseModule}">
										<!-- Item -->
										<div class="accordion-item mb-3">
											<h6 class="accordion-header font-base"
												th:id="'heading-' + ${iterStat.index}">
												<a
													class="accordion-button fw-bold rounded collapsed d-block pe-4"
													href="#collapse-1" data-bs-toggle="collapse"
													th:attr="aria-controls='collapse-1', data-bs-target='#collapse-' + ${iterStat.index}"
													aria-expanded="true"> <span class="mb-0"
													th:text="${courseModule.moduleTitle}"></span> <span
													class="small d-block mt-1"
													th:text="${courseModule.courseMaterials.size()} + ' materials'"></span>
												</a>
											</h6>
											<div th:id="'collapse-' + ${iterStat.index}"
												class="accordion-collapse collapse show"
												th:attr="aria-labelledby='heading-' + ${iterStat.index}"
												data-bs-parent="#accordionExample2">
												<div class="accordion-body mt-3">
													<div class="vstack gap-3">
														<!-- Course Materials -->
														<div
															th:each="courseMaterials : ${courseModule.courseMaterials}">
															<div
																class="d-flex justify-content-between align-items-center mb-2">
																<div class="position-relative d-flex align-items-center">
																	<a href="#"
																		class="btn btn-success btn-round btn-sm mb-0 stretched-link position-static">
																		<i class="fas fa-play me-0"></i>
																	</a> <span
																		class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-150px w-sm-200px"
																		th:text="${courseMaterials.title}"></span>
																</div>
															</div>
															<!-- Add Edit and Delete button -->
															<a
																th:href="@{|/${map}/edit-course-detail/edit-material|(courseId=${courseId}, courseModuleId=${courseModule.id}, courseMaterialId=${courseMaterials.id})}"
																class="btn btn-xs btn-warning mb-0"><i
																class="bi fa-fw bi-pencil-square me-2"></i>Edit</a> <a
																th:href="@{|/${map}/edit-course-detail/delete-material|(courseId=${courseId}, courseMaterialId=${courseMaterials.id})}"
																class="btn btn-xs btn-danger mb-0">Delete</a>
															<hr class="mb-0">
														</div>
														<!-- Questions -->
														<div
															th:each="courseAssignment : ${courseModule.courseAssignment}">
															<div
																class="d-flex justify-content-between align-items-center mb-2">
																<div class="position-relative d-flex align-items-center">
																	<a href="#"
																		class="btn btn-primary btn-round btn-sm mb-0 stretched-link position-static">
																		<i class="fas fa-question me-0"></i>
																	</a> <span
																		class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-150px w-sm-200px"
																		th:text="${courseAssignment.title}"></span>
																</div>
															</div>
															<!-- Add Edit and Delete button -->
															<a
																th:href="@{|/${map}/edit-course-detail/edit-assignment|(courseId=${courseId}, courseModuleId=${courseModule.id}, courseAssignmentId=${courseAssignment.id})}"
																class="btn btn-xs btn-warning mb-0"><i
																class="bi fa-fw bi-pencil-square me-2"></i>Add Question</a> <a
																th:href="@{|/${map}/edit-course-detail/delete-assignment|(courseId=${courseId}, courseModuleId=${courseModule.id}, courseAssignmentId=${courseAssignment.id})}"
																class="btn btn-xs btn-danger mb-0">Delete</a>
															<hr class="mb-0">
														</div>
													</div>
												</div>
												<div
													class="d-sm-flex justify-content-sm-between align-items-end mb-3">
													<a
														th:href="@{|/${map}/edit-course-detail/add-material|(courseId=${courseId}, courseModuleId=${courseModule.id})}"
														class="btn btn-success-soft">Add Material</a><a
														th:href="@{|/${map}/edit-course-detail/add-assignment|(courseId=${courseId}, courseModuleId=${courseModule.id})}"
														class="btn btn-info-soft">Add Assignment</a> <a
														th:href="@{|/${map}/edit-course-detail/edit-module|(courseId=${courseId}, courseModuleId=${courseModule.id})}"
														class="btn btn-warning-soft">Edit Module</a> <a
														th:href="@{|/${map}/edit-course-detail/delete-module|(courseId=${courseId}, courseModuleId=${courseModule.id})}"
														class="btn btn-danger-soft"> <i
														class="bi bi-minus-circle me-2"></i>Delete Module
													</a>
												</div>
											</div>
										</div>

										<hr>
									</div>
								</div>

								<!-- Accordion END -->
							</div>

						</div>

						<div class="mt-2">
							<a th:href="@{/admin/admin-course-list}" class="btn btn-warning">Back to course list</a>
						</div>

						<!-- Course item END -->
					</div>
				</div>
			</div>

			<!-- Main content END -->
			<!-- Page main content END -->
	</main>
	</th:block>
	<!-- Popup modal for reviwe END -->

	<!-- Back to top -->
	<div class="back-top">
		<i
			class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
	</div>

	<!-- Bootstrap JS -->
	<script
		th:src="@{/public/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

	<!-- Vendors -->
	<script th:src="@{/public/assets/vendor/choices/js/choices.min.js}"></script>
	<script
		th:src="@{/public/assets/vendor/apexcharts/js/apexcharts.min.js}"></script>
	<script
		th:src="@{/public/assets/vendor/overlay-scrollbar/js/overlayscrollbars.min.js}"></script>

	<!-- Template Functions  -->
	<script th:src="@{/public/assets/js/functions.js}"></script>
	<!-- Scripts -->
	<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

</body>
</html>