<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Layout</title>
<!-- Stylesheets -->
<th:block th:replace="~{fragments/stylesheets :: stylesheets}"></th:block>

<!-- Dark Mode Script -->
<th:block th:replace="~{fragments/darkmode-script :: darkmode-script}"></th:block>
</head>
<body>

	<!-- Header START -->
	<header class="navbar-light navbar-sticky header-static">
		<!-- Nav START -->
		<nav class="navbar navbar-expand-xl">
			<div class="container-fluid px-3 px-xl-5">
				<!-- Logo START -->
				<a class="navbar-brand" href="index.html"> <img
					class="light-mode-item navbar-brand-item"
					src="assets/images/DAT Logo.png" alt="logo"> <img
					class="dark-mode-item navbar-brand-item"
					src="assets/images/DAT Logo.png" alt="logo">
				</a>
				<!-- Logo END -->

				<!-- Responsive navbar toggler -->
				<button class="navbar-toggler ms-auto" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-animation"> <span></span> <span></span>
						<span></span>
					</span>
				</button>
				<!-- Main navbar START -->
				<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

					<!-- Nav Main menu START -->
					<ul
						class="navbar-nav navbar-nav-scroll my-3 my-xl-0 px-4 me-auto flex-nowrap ">

						<a class="nav-link active" th:href="@{/home}" id="demoMenu"
							aria-haspopup="true" aria-expanded="false">Home</a>
						<a class="nav-link" th:href="@{/course-list}" id="demoMenu"
							aria-haspopup="true" aria-expanded="false">Courses</a>
						<a class="nav-link" th:href="@{/blog}" id="demoMenu"
							aria-haspopup="true" aria-expanded="false">Blogs</a>
						<a class="nav-link" th:href="@{/contact-us}" id="demoMenu"
							aria-haspopup="true" aria-expanded="false">Contact Us</a>
						<a class="nav-link" href="@{/about}" id="demoMenu"
							aria-haspopup="true" aria-expanded="false">About</a>
					</ul>
					<!-- Nav Main menu END -->

					<!-- Nav Search START -->
					<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
						<div class="nav-item w-100">
							<form class="position-relative">
								<input class="form-control pe-5 bg-transparent" type="search"
									placeholder="Search" aria-label="Search">
								<button
									class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
									type="submit">
									<i class="fas fa-search fs-6 "></i>
								</button>
							</form>
						</div>
					</div>
					<!-- Nav Search END -->
				</div>
				<!-- Main navbar END -->
				<!-- Profile START -->
				<div class="dropdown ms-1 ms-lg-0">
					<a class="avatar avatar-sm p-0" href="#" id="profileDropdown"
						role="button" data-bs-auto-close="outside"
						data-bs-display="static" data-bs-toggle="dropdown"
						aria-expanded="false"> <img class="avatar-img rounded-circle"
						th:src="@{public/assets/images/avatar/01.jpg}" alt="avatar">
					</a>
					<ul
						class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
						aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									<img class="avatar-img rounded-circle shadow"
										th:src="@{public/assets/images/avatar/01.jpg}" alt="avatar">
								</div>
								<div>
									<a class="h6" th:href="@{/home}">Khine Khine
										Soe</a>
									<p class="small m-0">dathr@diracetechnology.com</p>
								</div>
							</div>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<!-- Links -->
						<li><a class="dropdown-item" href="#"><i
								class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
						<li><a class="dropdown-item" href="#"><i
								class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>
						<li><a class="dropdown-item" href="#"><i
								class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>
						<li><a class="dropdown-item bg-danger-soft-hover" href="#"><i
								class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<!-- Dark mode options START -->
						<li>
							<div
								class="bg-light dark-mode-switch theme-icon-active d-flex align-items-center p-1 rounded mt-2">
								<button type="button" class="btn btn-sm mb-0"
									data-bs-theme-value="light">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-sun fa-fw mode-switch"
										viewBox="0 0 16 16">
									<path
											d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
									<use href="#"></use>
								</svg>
									Light
								</button>
								<button type="button" class="btn btn-sm mb-0"
									data-bs-theme-value="dark">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-moon-stars fa-fw mode-switch"
										viewBox="0 0 16 16">
									<path
											d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
									<path
											d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
									<use href="#"></use>
								</svg>
									Dark
								</button>
								<button type="button" class="btn btn-sm mb-0 active"
									data-bs-theme-value="auto">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor"
										class="bi bi-circle-half fa-fw mode-switch"
										viewBox="0 0 16 16">
									<path
											d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
									<use href="#"></use>
								</svg>
									Auto
								</button>
							</div>
						</li>
						<!-- Dark mode options END-->
					</ul>
				</div>
				<!-- Profile START -->
			</div>
		</nav>
		<!-- Nav END -->
	</header>
	<!-- Header END -->

	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<!-- =======================Inner part START -->
		<section class="pt-0">
			<div class="container">
				<div class="row">

					<!-- Main content START -->
					<div class="col-xl-12">
						<!-- Student review START -->
						<div class="card border bg-transparent rounded-3">
							<!-- Header START -->
							<!-- Title -->

							<!-- Facebook post button -->
							<div class="container mt-5">
								<div class="card">
									<div class="card-body">
										<div class="d-flex align-items-center">
											<img th:src="@{public/assets/images/avatar/01.jpg}" alt="avatar"
												class="rounded-circle mr-2 me-3 img-small"
												style="width: 40px; height: 40px;">
											<button type="button"
												class="btn btn-light flex-grow-1 text-left rounded-pill"
												data-bs-toggle="modal" data-bs-target="#addPost">What's
												on your mind?</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Popup modal for add lecture START -->
							<div class="modal fade" id="addPost" tabindex="-1"
								aria-labelledby="postLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header bg-dark">
											<h5 class="modal-title text-white" id="postLabel">Add
												Lecture</h5>
											<button type="button"
												class="btn btn-sm btn-light mb-0 ms-auto"
												data-bs-dismiss="modal" aria-label="Close">
												<i class="bi bi-x-lg"></i>
											</button>
										</div>
										<div class="modal-body">
											<form class="row text-start g-3">
												<!-- Course name -->
												<div class="col-12">
													<label class="form-label">Course name <span
														class="text-danger">*</span></label> <input type="text"
														class="form-control" placeholder="Enter course name">
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-danger-soft my-0"
												data-bs-dismiss="modal">Close</button>
											<button type="button" class="btn btn-success my-0">Save
												Lecture</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Popup modal for add lecture END -->

							<!-- Reviews START -->
							<div class="card-body mt-2 mt-sm-4">

								<!-- Review item START -->
								<div class="d-sm-flex">
									<!-- Avatar image -->
									<img class="avatar avatar-lg rounded-circle float-start me-3"
										th:src="@{public/assets/images/avatar/01.jpg}" alt="avatar">
									<div>
										<div
											class="mb-3 d-sm-flex justify-content-sm-between align-items-center">
											<!-- Title -->
											<div>
												<h5 class="m-0">Frances Guerrero</h5>
												<span class="me-3 small">June 11, 2021 at 6:01 am </span>
											</div>
											<!-- Review star -->

										</div>
										<!-- Content -->
										<h6>
											<span class="text-body fw-light">Review on:</span> How to
											implement sitemap on sass
										</h6>
										<p>Satisfied conveying a dependent contented he gentleman
											agreeable do be. Warrant private blushes removed an in
											equally totally if. Delivered dejection necessary objection
											do Mr prevailed. Mr feeling does chiefly cordial in do.</p>
										<!-- Button -->
										<div class="text-end">
											<a href="#" class="btn btn-sm btn-primary-soft mb-1 mb-sm-0">Direct
												message</a> <a class="btn btn-sm btn-light mb-0"
												data-bs-toggle="collapse" href="#collapseComment"
												role="button" aria-expanded="false"
												aria-controls="collapseComment"> Reply </a>
											<!-- collapse textarea -->
											<div class="collapse show" id="collapseComment">
												<div class="d-flex mt-3">
													<textarea class="form-control mb-0"
														placeholder="Add a comment..." rows="2" spellcheck="false"></textarea>
													<button
														class="btn btn-sm btn-primary-soft ms-2 px-4 mb-0 flex-shrink-0">
														<i class="fas fa-paper-plane fs-5"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Review item END -->

								<!-- Review item START -->
								<div class="d-sm-flex">
									<!-- Avatar image -->
									<img class="avatar avatar-lg rounded-circle float-start me-3"
										th:src="@{public/assets/images/avatar/03.jpg}" alt="avatar">
									<div>
										<div
											class="mb-3 d-sm-flex justify-content-sm-between align-items-center">
											<!-- Title -->
											<div>
												<h5 class="m-0">Louis Ferguson</h5>
												<span class="me-3 small">June 18, 2021 at 11:55 am</span>
											</div>
											<!-- Review star -->

										</div>
										<!-- Content -->
										<h6>
											<span class="text-body fw-light">Review on:</span> How does
											an Angular application work?
										</h6>
										<p>Far advanced settling say finished raillery. Offered
											chiefly farther Satisfied conveying a dependent contented he
											gentleman agreeable do be. Warrant private blushes removed an
											in equally totally if. Delivered dejection necessary
											objection do Mr prevailed. Mr feeling does chiefly cordial in
											do.</p>
										<!-- Button -->
										<div class="text-end">
											<a href="#" class="btn btn-sm btn-primary-soft mb-0">Direct
												message</a> <a href="#" class="btn btn-sm btn-light mb-0">Reply</a>
											<div class="collapse show" id="collapseComment">
												<div class="d-flex mt-3">
													<textarea class="form-control mb-0"
														placeholder="Add a comment..." rows="2" spellcheck="false"></textarea>
													<button
														class="btn btn-sm btn-primary-soft ms-2 px-4 mb-0 flex-shrink-0">
														<i class="fas fa-paper-plane fs-5"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Review item END -->

								<!-- Review item START -->
								<div class="d-sm-flex">
									<!-- Avatar image -->
									<img class="avatar avatar-lg rounded-circle float-start me-3"
										th:src="@{publlic/assets/images/avatar/05.jpg}" alt="avatar">
									<div>
										<div
											class="mb-3 d-sm-flex justify-content-sm-between align-items-center">
											<!-- Title -->
											<div>
												<h5 class="m-0">Carolyn Ortiz</h5>
												<span class="me-3 small">August 28, 2021 at 3:08 pm</span>
											</div>
											<!-- Review star -->

										</div>
										<!-- Content -->
										<h6>
											<span class="text-body fw-light">Review on:</span> What is
											Flexbox and describe any elaborate on its most used
											properties??
										</h6>
										<p>Offered chiefly farther Satisfied conveying a dependent
											contented he gentleman agreeable do be. Warrant private
											blushes removed an in equally totally if. Delivered dejection
											necessary objection do Mr prevailed. Mr feeling does chiefly
											cordial in do.</p>
										<!-- Button -->
										<div class="text-end">
											<a href="#" class="btn btn-sm btn-primary-soft mb-0">Direct
												message</a> <a href="#" class="btn btn-sm btn-light mb-0">Reply</a>
											<div class="collapse show" id="collapseComment">
												<div class="d-flex mt-3">
													<textarea class="form-control mb-0"
														placeholder="Add a comment..." rows="2" spellcheck="false"></textarea>
													<button
														class="btn btn-sm btn-primary-soft ms-2 px-4 mb-0 flex-shrink-0">
														<i class="fas fa-paper-plane fs-5"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Review item END -->

								<!-- Review item START -->
								<div class="d-sm-flex">
									<!-- Avatar image -->
									<img class="avatar avatar-lg rounded-circle float-start me-3"
										th:src="@{public/assets/images/avatar/08.jpg}" alt="avatar">
									<div>
										<div
											class="mb-3 d-sm-flex justify-content-sm-between align-items-center">
											<!-- Title -->
											<div>
												<h5 class="m-0">Dennis Barrett</h5>
												<span class="me-3 small">August 29, 2021 at 5:35 pm</span>
											</div>
											<!-- Review star -->

										</div>
										<!-- Content -->
										<h6>
											<span class="text-body fw-light">Review on:</span> What are
											the different data types present in javascript?
										</h6>
										<p>Chiefly farther Satisfied conveying a dependent
											contented he gentleman agreeable do be. Warrant private
											blushes removed an in equally totally if. Delivered dejection
											necessary objection do Mr prevailed. Mr feeling does chiefly
											cordial in do.</p>
										<!-- Button -->
										<div class="text-end">
											<a href="#" class="btn btn-sm btn-primary-soft mb-0">Direct
												message</a> <a href="#" class="btn btn-sm btn-light mb-0">Reply</a>
											<div class="collapse show" id="collapseComment">
												<div class="d-flex mt-3">
													<textarea class="form-control mb-0"
														placeholder="Add a comment..." rows="2" spellcheck="false"></textarea>
													<button
														class="btn btn-sm btn-primary-soft ms-2 px-4 mb-0 flex-shrink-0">
														<i class="fas fa-paper-plane fs-5"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Review item END -->

								<!-- Review item START -->
								<div class="d-sm-flex">
									<!-- Avatar image -->
									<img class="avatar avatar-lg rounded-circle float-start me-3"
										th:src="@{public/assets/images/avatar/09.jpg}" alt="avatar">
									<div>
										<div
											class="mb-3 d-sm-flex justify-content-sm-between align-items-center">
											<!-- Title -->
											<div>
												<h5 class="m-0">Carolyn Ortiz</h5>
												<span class="me-3 small">September 15, 2021 at 8:28
													am</span>
											</div>
											<!-- Review star -->

										</div>
										<!-- Content -->
										<h6>
											<span class="text-body fw-light">Review on:</span> What are
											object prototypes?
										</h6>
										<p>Chiefly farther Satisfied conveying a dependent
											contented he gentleman agreeable do be. Warrant private
											blushes removed an in equally totally if. Delivered dejection
											necessary objection do Mr prevailed. Mr feeling does chiefly
											cordial in do.</p>
										<!-- Button -->
										<div class="text-end">
											<a href="#" class="btn btn-sm btn-primary-soft mb-0">Direct
												message</a> <a href="#" class="btn btn-sm btn-light mb-0">Reply</a>
											<div class="collapse show" id="collapseComment">
												<div class="d-flex mt-3">
													<textarea class="form-control mb-0"
														placeholder="Add a comment..." rows="2" spellcheck="false"></textarea>
													<button
														class="btn btn-sm btn-primary-soft ms-2 px-4 mb-0 flex-shrink-0">
														<i class="fas fa-paper-plane fs-5"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Review item END -->
							</div>
							<!-- Reviews END -->

							<div class="card-footer border-top">
								<!-- Pagination START -->
								<div
									class="d-sm-flex justify-content-sm-center align-items-sm-center">
									<!-- Content -->
									<!-- Pagination -->
									<nav class="d-flex justify-content-center mb-0"
										aria-label="navigation">
										<ul
											class="pagination pagination-sm pagination-primary-soft my-0 py-0">
											<li class="page-item my-0"><a class="page-link" href="#"
												tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
											<li class="page-item my-0"><a class="page-link" href="#">1</a></li>
											<li class="page-item my-0 active"><a class="page-link"
												href="#">2</a></li>
											<li class="page-item my-0"><a class="page-link" href="#">3</a></li>
											<li class="page-item my-0"><a class="page-link" href="#"><i
													class="fas fa-angle-right"></i></a></li>
										</ul>
									</nav>
								</div>
								<!-- Pagination END -->
							</div>
						</div>
						<!-- Student review END -->
					</div>
					<!-- Main content END -->
				</div>
				<!-- Row END -->
			</div>
		</section>
		<!-- =======================
Inner part END -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- =======================
Footer START -->
	<footer class="bg-dark p-3">
		<div class="container">
			<div class="row align-items-center">
				<!-- Widget -->
				<div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
					<!-- Logo START -->
					<a th:href="@{/home"> <img class="h-20px"
						th:src="@{public/assets/images/DAT Logo.png}" alt="logo">
					</a>
				</div>

				<!-- Widget -->
				<div class="col-md-4 mb-3 mb-md-0">
					<div class="text-center text-white text-primary-hover">
						Copyrights ©2024 DAT . Build by <a
							href="https://www.diracetechnology.com/" target="_blank"
							class="text-white">DAT - Elearning Hub</a>.
					</div>
				</div>
				<!-- Widget -->
				<div class="col-md-4">
					<!-- Rating -->
					<ul class="list-inline mb-0 text-center text-md-end">
						<li class="list-inline-item ms-2"><a href="#"><i
								class="text-white fab fa-facebook"></i></a></li>
						<li class="list-inline-item ms-2"><a href="#"><i
								class="text-white fab fa-instagram"></i></a></li>
						<li class="list-inline-item ms-2"><a href="#"><i
								class="text-white fab fa-linkedin-in"></i></a></li>
						<li class="list-inline-item ms-2"><a href="#"><i
								class="text-white fab fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- =======================
Footer END -->

	<!-- Back to top -->
	<div class="back-top">
		<i
			class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
	</div>

	<!-- Scripts -->
	<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
	<!-- Template Functions -->
	<script th:src="@{public/assets/js/functions.js}"></script>

</body>

<!-- Mirrored from diracetechnology.com/instructor-review.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Jul 2024 03:23:00 GMT -->
</html>