<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>DAT - Growth Hub</title>
<style>
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

header {
	/* Header styling */
	padding: 20px;
}

main {
	flex: 1;
	/* This makes the main content area grow to fill available space */
	padding: 20px;
}

.footer {
	padding: 10px 20px;
}
</style>
<!-- Stylesheets -->
<th:block th:replace="fragments/stylesheets :: stylesheets"></th:block>

<!-- Dark Mode Script -->
<th:block th:replace="fragments/darkmode-script :: darkmode-script"></th:block>
</head>
<body>

	<!-- Header START -->
	<header class="navbar-light navbar-sticky">
		<!-- Logo Nav START -->
		<nav class="navbar navbar-expand-xl">
			<div class="container-fluid px-3 px-xl-5">
				<!-- Logo START -->
				<a class="navbar-brand" th:href="@{/user/home}"> <img
					class="light-mode-item navbar-brand-item"
					th:src="@{/public/assets/images/DAT Logo.png}" alt="logo"> <img
					class="dark-mode-item navbar-brand-item"
					th:src="@{/public/assets/images/DAT Logo.png}" alt="logo">
				</a>
				<!-- Logo END -->

				<!-- Responsive navbar toggler -->
				<button class="navbar-toggler ms-auto" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-animation"> <span></span> <span></span>
						<span></span>
					</span>
				</button>

				<!-- Main navbar START -->
				<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

					<!-- Nav Main menu START -->
					<ul
						class="navbar-nav navbar-nav-scroll my-3 my-xl-0 px-4 me-auto flex-nowrap ">

						<li sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link"
							th:href="@{/admin/admin-dashboard}" id="demoMenu"
							aria-haspopup="true" aria-expanded="false">Home</a></li>
						<li sec:authorize="hasRole('ROLE_STUDENT')"><a
							class="nav-link" th:href="@{/student/student-dashboard}"
							id="demoMenu" aria-haspopup="true" aria-expanded="false">Home</a>
						</li>
						<li sec:authorize="hasRole('ROLE_INSTRUCTOR')"><a
							class="nav-link" th:href="@{/instructor/instructor-dashboard}"
							id="demoMenu" aria-haspopup="true" aria-expanded="false">Home</a>
						</li>
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link active" th:href="@{/admin/forum}" id="demoMenu"
							aria-haspopup="true" aria-expanded="false">Forum</a></li>
						<li sec:authorize="hasRole('ROLE_STUDENT')"><a
							class="nav-link active" th:href="@{/student/forum}" id="demoMenu"
							aria-haspopup="true" aria-expanded="false">Forum</a></li>
						<li sec:authorize="hasRole('ROLE_INSTRUCTOR')"><a
							class="nav-link active" th:href="@{/instructor/forum}"
							id="demoMenu" aria-haspopup="true" aria-expanded="false">Forum</a>
						</li>
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link"
							th:href="@{/admin/my-post}" id="demoMenu" aria-haspopup="true"
							aria-expanded="false">My Post</a></li>
						<li sec:authorize="hasRole('ROLE_STUDENT')"><a
							class="nav-link" th:href="@{/student/my-post}" id="demoMenu"
							aria-haspopup="true" aria-expanded="false">My Post</a></li>
						<li sec:authorize="hasRole('ROLE_INSTRUCTOR')"><a
							class="nav-link" th:href="@{/instructor/my-post}" id="demoMenu"
							aria-haspopup="true" aria-expanded="false">My Post</a></li>
					</ul>
					<!-- Nav Main menu END -->

					<!-- Nav Search START -->
					<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
						<div class="nav-item w-100">
							<form class="position-relative" method="get" action="#"
								th:action="@{${map} + '/forum/search'}">
								<input class="form-control pe-5 bg-transparent" type="search"
									name="query" placeholder="Search posts" aria-label="Search">
								<button
									class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
									type="submit">
									<i class="fas fa-search fs-6 "></i>
								</button>
							</form>
						</div>
					</div>
					<!-- Nav Search END -->
				</div>
				<!-- Main navbar END -->

				<!-- Profile START -->
				<div class="dropdown ms-1 ms-lg-0">
					<a class="avatar avatar-sm p-0" href="#" id="profileDropdown"
						role="button" data-bs-auto-close="outside"
						data-bs-display="static" data-bs-toggle="dropdown"
						aria-expanded="false"> <span
						th:if="${#authentication.principal.isAdmin()}"> <img
							class="avatar-img rounded-circle"
							th:if="${user.profile != null && user.profile.profileImg != null}"
							th:src="@{'/private/profile/user-profile/' + ${user.profile.profileImg}}"
							alt="avatar"> <img class="avatar-img rounded-circle"
							th:unless="${user.profile != null && user.profile.profileImg != null}"
							th:src="@{'/public/assets/images/avatar/06.jpg'}" alt="avatar">
					</span> <!-- Instructor --> <span
						th:if="${#authentication.principal.isInstructor()}"> <img
							class="avatar-img rounded-circle"
							th:if="${user.profile != null && user.profile.profileImg != null}"
							th:src="@{'/private/profile/user-profile/' + ${user.profile.profileImg}}"
							alt="avatar"> <img class="avatar-img rounded-circle"
							th:unless="${user.profile != null && user.profile.profileImg != null}"
							th:src="@{'/public/assets/images/avatar/06.jpg'}" alt="avatar">
					</span> <!-- Student --> <span
						th:if="${#authentication.principal.isStudent()}"> <img
							class="avatar-img rounded-circle"
							th:if="${user.profile != null && user.profile.profileImg != null}"
							th:src="@{'/private/profile/user-profile/' + ${user.profile.profileImg}}"
							alt="avatar"> <img class="avatar-img rounded-circle"
							th:unless="${user.profile != null && user.profile.profileImg != null}"
							th:src="@{'/public/assets/images/avatar/06.jpg'}" alt="avatar">
					</span>
					</a>
					<ul
						class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
						aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									<span th:if="${#authentication.principal.isAdmin()}"> <img
										class="avatar-img rounded-circle shadow"
										th:if="${user.profile != null && user.profile.profileImg != null}"
										th:src="@{'/private/profile/user-profile/' + ${user.profile.profileImg}}"
										alt="avatar"> <img
										class="avatar-img rounded-circle shadow"
										th:unless="${user.profile != null && user.profile.profileImg != null}"
										th:src="@{'/public/assets/images/avatar/06.jpg'}" alt="avatar">
									</span> <span th:if="${#authentication.principal.isInstructor()}">
										<img sec:authorize="hasRole('ROLE_INSTRUCTOR')"
										class="avatar-img rounded-circle shadow"
										th:if="${user.profile != null && user.profile.profileImg != null}"
										th:src="@{'/private/profile/user-profile/' + ${user.profile.profileImg}}"
										alt="avatar"> <img
										sec:authorize="hasRole('ROLE_INSTRUCTOR')"
										class="avatar-img rounded-circle shadow"
										th:unless="${user.profile != null && user.profile.profileImg != null}"
										th:src="@{'/public/assets/images/avatar/06.jpg'}" alt="avatar">
									</span> <span th:if="${#authentication.principal.isStudent()}">
										<img class="avatar-img rounded-circle shadow"
										th:if="${user.profile != null && user.profile.profileImg != null}"
										th:src="@{'/private/profile/user-profile/' + ${user.profile.profileImg}}"
										alt="avatar"> <img
										class="avatar-img rounded-circle shadow"
										th:unless="${user.profile != null && user.profile.profileImg != null}"
										th:src="@{'/public/assets/images/avatar/06.jpg'}" alt="avatar">
									</span>

								</div>
								<div>
									<span th:if="${#authentication.principal.isAdmin()}"> <a
										class="h6" th:href="@{/admin/admin-dashboard}"
										th:text="${user.name}"></a>
									</span> <span th:if="${#authentication.principal.isStudent()}">
										<a class="h6" th:href="@{/student/student-dashboard}"
										th:text="${user.name}"></a>
									</span> <span th:if="${#authentication.principal.isInstructor()}">
										<a class="h6" th:href="@{/instructor/instructor-dashboard}"
										th:text="${user.name}"></a>
									</span>
									<p class="small m-0" th:text="${user.email}"></p>
								</div>
							</div>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<!-- Links -->
						<li><a class="dropdown-item bg-danger-soft-hover"
							href="/admin/admin-dashboard"><i
								class="bi bi-ui-checks-grid fa-fw me-2"></i>Dashboard</a></li>
						<li><span th:if="${#authentication.principal.isAdmin()}">
								<a class="dropdown-item" th:href="@{/admin/admin-edit-profile}"><i
									class="bi bi-person fa-fw me-2"></i>Edit Profile</a>
						</span> <span th:if="${#authentication.principal.isStudent()}"> <a
								class="dropdown-item" th:href="@{/student/student-edit-profile}"><i
									class="bi bi-person fa-fw me-2"></i>Edit Profile</a>
						</span> <span th:if="${#authentication.principal.isInstructor()}">
								<a class="dropdown-item"
								th:href="@{/instructor/instructor-edit-profile}"><i
									class="bi bi-person fa-fw me-2"></i>Edit Profile</a>
						</span></li>
						<li><a class="dropdown-item bg-danger-soft-hover"
							href="/sign-out"><i class="bi bi-power fa-fw me-2"></i>Sign
								Out</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<!-- Dark mode options START -->
						<li>
							<div
								class="bg-light dark-mode-switch theme-icon-active d-flex align-items-center p-1 rounded mt-2">
								<button type="button" class="btn btn-sm mb-0"
									data-bs-theme-value="light">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-sun fa-fw mode-switch"
										viewBox="0 0 16 16">
									<path
											d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
									<use href="#"></use>
								</svg>
									Light
								</button>
								<button type="button" class="btn btn-sm mb-0"
									data-bs-theme-value="dark">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-moon-stars fa-fw mode-switch"
										viewBox="0 0 16 16">
									<path
											d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
									<path
											d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
									<use href="#"></use>
								</svg>
									Dark
								</button>
								<button type="button" class="btn btn-sm mb-0 active"
									data-bs-theme-value="auto">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor"
										class="bi bi-circle-half fa-fw mode-switch"
										viewBox="0 0 16 16">
									<path
											d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
									<use href="#"></use>
								</svg>
									Auto
								</button>
							</div>
						</li>
						<!-- Dark mode options END-->
					</ul>
				</div>
				<!-- Profile START -->
			</div>
		</nav>
		<!-- Logo Nav END -->
	</header>
	<!-- Header END -->
	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<!-- =======================Inner part START -->
		<section class="pt-0">
			<div class="container">
				<div class="d-flex justify-content-end ">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary"
						data-bs-toggle="modal" data-bs-target="#exampleModal">
						Add new post</button>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Create
										a new post</h1>
								</div>
								<div class="modal-body">
									<form method="post" th:action="@{${map} + '/forum'}"
										th:object="${forumDto}">
										<div class="mb-3">
											<label for="recipient-name" class="col-form-label">Enter
												title</label> <input type="text" class="form-control"
												id="recipient-name" th:field="*{title}" required />
										</div>

										<div class="mb-3">
											<label for="message-text" class="col-form-label">Enter
												your description</label>
											<textarea class="form-control" id="message-text" rows="7"
												th:field="*{content}" required></textarea>
										</div>

										<div class="mb-3">
											<a class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
											<button type="submit" class="btn btn-primary">Create
												Post</button>
										</div>
									</form>

								</div>


							</div>
						</div>
					</div>

					<!-- Modal end -->
				</div>
			</div>
			<!--  end test form-->

			<div class="row">
				<!-- Review item END -->
				<!-- Main content START -->
				<div class="col-xl-12">
					<!-- Student review START -->
					<div class="card border bg-transparent rounded-3 container">
						<!-- Header START -->
						<!-- Title -->

						<!-- Reviews START -->
						<div class="card-body mt-2 mt-sm-4">


							<!-- Review item START -->
							<div class="d-sm-flex mb-5 " th:each="forum : ${forums}">

								<!-- Avatar image -->

								<div
									th:if="${forum.users.profile!= null && forum.users.profile.profileImg != null}">
									<img class="avatar avatar-lg rounded-circle float-start me-3"
										th:src="@{'/private/profile/user-profile/' + ${forum.users.profile.profileImg}}"
										alt="avatar" />
								</div>
								<div
									th:unless="${forum.users.profile!= null && forum.users.profile.profileImg != null}">

									<img class="avatar avatar-lg rounded-circle float-start me-3"
										th:unless="${forum.users.profile!= null && forum.users.profile.profileImg != null}"
										th:src="@{'/public/assets/images/avatar/06.jpg'}" alt="avatar" />
								</div>
								<div class=" " style="width: 100%">
									<div
										class="mb-3 d-sm-flex justify-content-sm-between align-items-center">
										<!-- Title -->
										<div>
											<h5 class="m-0" th:text="${forum.users.name}"></h5>
											<span class="me-3 small"
												th:text="${#dates.format(forum.createdAt, 'dd MMMM yyyy') + ' at ' + #dates.format(forum.createdAt, 'h:mm a')}"></span>
										</div>
										<!-- Review star -->
									</div>
									<!-- Content -->

									<h3 th:text="${forum.title}"></h3>

									<p th:utext="${forum.content}"></p>
									<!-- Comment -->
									<div th:each="forumComment : ${forum.forumComments}"
										class="mb-2">
										<div th:if="${forum.id} == ${forumComment.forums.id}">
											<div
												th:if="${forumComment.users.profile!= null && forumComment.users.profile.profileImg != null}">
												<img
													class="avatar avatar-sm rounded-circle float-start me-3"
													th:src="@{'/private/profile/user-profile/' + ${forumComment.users.profile.profileImg}}"
													alt="avatar" />
											</div>
											<div
												th:unless="${forumComment.users.profile!= null && forumComment.users.profile.profileImg != null}">

												<img
													class="avatar avatar-sm rounded-circle float-start me-3"
													th:src="@{'/public/assets/images/avatar/06.jpg'}"
													alt="avatar" />
											</div>

											<span class="" style="color: red; font-size: 1rem;"
												th:text="${forumComment.users.name}"></span> <br><span
												class="me-3 small"
												th:text="${#dates.format(forumComment.createdAt, 'dd MMMM yyyy') + ' at ' + #dates.format(forumComment.createdAt, 'h:mm a')}"></span>

											<p th:text="${forumComment.comment}" class="ms-5"></p>
										</div>
									</div>
									<!-- Button -->
									<div class="text-end">
										<a class="btn  btn-primary mb-0 " data-bs-toggle="collapse"
											th:href="'#collapseComment' + ${forum.id}" role="button"
											aria-expanded="false"
											aria-controls="'collapseComment' + ${forum.id}"> Add
											Comment </a>
										<!-- collapse textarea -->
										<div class="collapse" th:id="'collapseComment' + ${forum.id}">
											<form class="d-flex mt-3" method="post"
												th:action="@{${map} + '/comment'(forumId=${forum.id})}"
												th:object="${forumCommentDto}">
												<textarea class="form-control mb-0"
													placeholder="Add a comment..." rows="2" style="width: 100%"
													spellcheck="false" th:field=*{comment} required></textarea>
												<button type="submit"
													class="btn btn-sm btn-primary-soft ms-2 px-4 mb-0 flex-shrink-0">
													<i class="fas fa-paper-plane fs-5"></i>
												</button>
											</form>
										</div>
									</div>

									<hr class="mt-4">
								</div>

								<!-- end userId==forum.userId -->
							</div>
							<!-- Review item END -->

							<div class="card-footer">
								<!-- Check if there are no results -->
								<div th:if="${totalPages == 0}" class="text-center">
									<p>No results found.</p>
								</div>

								<!-- Pagination START -->
								<div th:if="${totalPages > 0}"
									class="d-sm-flex justify-content-sm-center align-items-sm-center">
									<nav class="d-flex justify-content-center mb-0"
										aria-label="navigation">
										<ul
											class="pagination pagination-sm pagination-primary-soft my-0 py-0">

											<!-- Previous Page Link -->
											<li class="page-item my-0"
												th:classappend="${currentPage == 0} ? 'disabled' : ''">
												<a class="page-link"
												th:href="@{${map} + '/forum'(page=${currentPage - 1}, size=${size})}"
												tabindex="-1"> <i class="fas fa-angle-left"
													th:classappend="${currentPage == 0} ? 'd-none' : ''"></i>
											</a>
											</li>

											<!-- Page Number Links -->
											<li class="page-item my-0"
												th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
												th:classappend="${i == currentPage} ? 'active' : ''"><a
												class="page-link"
												th:href="@{${map} + '/forum'(page=${i}, size=${size})}"
												th:text="${i + 1}"></a></li>

											<!-- Next Page Link -->
											<li class="page-item my-0"
												th:classappend="${currentPage + 1 >= totalPages} ? 'disabled' : ''">
												<a class="page-link"
												th:href="@{${map} + '/forum'(page=${currentPage + 1}, size=${size})}">
													<i class="fas fa-angle-right"
													th:classappend="${currentPage + 1 >= totalPages} ? 'd-none' : ''"></i>
											</a>
											</li>

										</ul>
									</nav>
								</div>
								<!-- Pagination END -->

							</div>
						</div>
						<!-- Student review END -->
					</div>
					<!-- Main content END -->
				</div>
				<!-- Row END -->
			</div>

		</section>
		<!-- =======================
Inner part END -->
	</main>
	<!-- **************** MAIN CONTENT END **************** -->



	<!-- Include footer -->

	<div th:replace="instructor/instructor-footer :: instructor-footer"
		class="footer"></div>
	<!-- Scripts -->
	<th:block th:replace="fragments/scripts :: scripts"></th:block>
</body>
</html>
