<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head >
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
 <th:block th:fragment="user-contactus">
 <main>
	
<!-- =======================
Page Banner START -->
<section class="pt-5 pb-0" style="background-image:url(/public/assets/images/element/map.svg); background-position: center left; background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-xl-6 text-center mx-auto">
				<!-- Title -->
				<h1 class="mb-4">Contact us!</h1>
			</div>
		</div>
		
		<!-- Contact info box -->
		<div class="row g-4 g-md-5 mt-0 mt-lg-3">
			<!-- Box item -->
			<div class="col-lg-4 mt-lg-0">
				<div class="card card-body shadow py-5 text-center h-100 bg-primary-soft-hover">
					<!-- Title -->
					<h5 class="mb-3">Customer Support</h5>
					<ul class="list-inline mb-0">
						<!-- Address -->
						<li class="list-item mb-3 h6 fw-light">
							<a href="#"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>Building 17, 3rd Floor Myanmar Info-Tech, Hlaing Campus. </a>
						</li>
						<!-- Phone number -->
						<li class="list-item mb-3 h6 fw-light">
							<a href="#"> <i class="fas fa-fw fa-phone-alt me-2"></i>+951-2305139 </a>
						</li>
						<!-- Email id -->
						<li class="list-item mb-0 h6 fw-light">
							<a href="#"> <i class="far fa-fw fa-envelope me-2"></i>dathr@diracetechnology.com </a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Box item -->
			<div class="col-lg-4 mt-lg-0">
				<div class="card card-body shadow py-5 text-center h-100 bg-primary-soft-hover">
					<!-- Title -->
					<h5 class="mb-3">Contact Address</h5>
					<ul class="list-inline mb-0">
						<!-- Address -->
						<li class="list-item mb-3 h6 fw-light">
							<a href="#"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>Building 17, 3rd Floor Myanmar Info-Tech, Hlaing Campus. </a>
						</li>
						<!-- Phone number -->
						<li class="list-item mb-3 h6 fw-light">
							<a href="#"> <i class="fas fa-fw fa-phone-alt me-2"></i>+951-2305139 </a>
						</li>
						<!-- Email id -->
						<li class="list-item mb-0 h6 fw-light">
							<a href="#"> <i class="far fa-fw fa-envelope me-2"></i>dathr@diracetechnology.com </a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Box item -->
			<div class="col-lg-4 mt-lg-0">
				<div class="card card-body shadow py-5 text-center h-100 bg-primary-soft-hover">
					<!-- Title -->
					<h5 class="mb-3">Main Office Address</h5>
					<ul class="list-inline mb-0">
						<!-- Address -->
						<li class="list-item mb-3 h6 fw-light">
							<a href="#"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>Building 17, 3rd Floor Myanmar Info-Tech, Hlaing Campus. </a>
						</li>
						<!-- Phone number -->
						<li class="list-item mb-3 h6 fw-light">
							<a href="#"> <i class="fas fa-fw fa-phone-alt me-2"></i>+951-2305139 </a>
						</li>
						<!-- Email id -->
						<li class="list-item mb-0 h6 fw-light">
							<a href="#"> <i class="far fa-fw fa-envelope me-2"></i>dathr@diracetechnology.com </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================

 =======================
Image and contact form END -->

<!-- =======================
Map START -->
<section class="pt-0 mt-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<iframe class="w-100 h-400px grayscale rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.5129529697647!2d96.12638407339473!3d16.85050131805319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c194eb93841c29%3A0x7fca39a6c09ca69e!2sDIR-ACE%20Technology%20Ltd.!5e0!3m2!1sen!2sus!4v1721483580276!5m2!1sen!2sus" height="500" style="border:0;" aria-hidden="false" tabindex="0"></iframe>	
			</div>
		</div>
	</div>
</section>
<!-- =======================
Map END -->

</main>
</th:block>
</body>
</html>