<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <!-- Stylesheets -->
    <th:block th:replace="fragments/stylesheets :: stylesheets"></th:block>

    <!-- Dark Mode Script -->
    <th:block th:replace="fragments/darkmode-script :: darkmode-script"></th:block>
</head>
<body>
    <!-- Include navbar -->
    <div th:replace="user/navbar :: navbar"></div>

    <!-- Main content -->
    <main>
        <th:block th:replace="${content}"></th:block>
    </main>

    <!-- Include footer -->
    <div th:replace="user/footer :: footer"></div>

    <!-- Scripts -->
    <th:block th:replace="fragments/scripts :: scripts"></th:block>
</body>
</html>
