<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Reset Password</title>
    
    <!-- Favicon -->
	<link rel="shortcut icon" th:href="@{/public/assets/images/favicon.ico}">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/public/assets/vendor/font-awesome/css/all.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/public/assets/vendor/bootstrap-icons/bootstrap-icons.css}">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/public/assets/css/style.css}">
    
</head>

<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')
 
		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})
		
	</script>
	
<body>
    <main>
        <section class="p-0 d-flex align-items-center position-relative overflow-hidden">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 d-none d-md-block d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
                        <div class="p-3 p-lg-5">
                            <div class="text-center">
                                <h2 class="fw-bold">Welcome to our largest community</h2>
                                <p class="mb-0 h6 fw-light">Let's learn something new today!</p>
                            </div>
                            <img th:src="@{/public/assets/images/element/02.svg}" class="mt-5" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 d-flex justify-content-center">
                        <div class="row my-5">
                            <div class="col-sm-10 col-xl-12 m-auto">
                            
                            	         
                                <span class="mb-0 fs-1">🔑</span>
                                <h1 class="fs-2">Reset Password</h1>
                                <h5 class="fw-light mb-4">Enter the OTP sent to your email and set a new password.</h5>
                                <form th:action="@{/auth/reset-password}" method="post">
                                <!-- Display Success/Error Messages -->
                                       
                                                <div th:if="${error}" class="alert alert-danger" role="alert">
                                                    <p th:text="${error}"></p>
                                                </div>
                                        <input type="hidden" name="email" th:value="${email}" />
                                    <div class="mb-4">
                                        <label for="otp" class="form-label">OTP *</label>
                                        <div class="input-group input-group-lg">
                                            <input type="text" class="form-control border-0 bg-light rounded-end ps-1" name="otp" placeholder="OTP" required>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="newPassword" class="form-label">New Password *</label>
                                        <div class="input-group input-group-lg">
                                            <input type="password" class="form-control border-0 bg-light rounded-end ps-1" name="newPassword" placeholder="New Password" required>
                                        </div>
                                    </div>
                                    <div class="align-items-center">
                                        <div class="d-grid">
                                            <button class="btn btn-primary mb-0" type="submit">Reset Password</button>
                                        </div>
                                    </div>    
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script th:src="@{/public/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/public/assets/js/functions.js}"></script>
</body>
</html>
