<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <th:block th:fragment="stylesheets">
        <!-- Favicon -->
        <link rel="shortcut icon" th:href="@{public/assets/images/favicon.ico}">
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{public/assets/vendor/font-awesome/css/all.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{public/assets/vendor/bootstrap-icons/bootstrap-icons.css}">
        <link rel="stylesheet" type="text/css" th:href="@{public/assets/vendor/aos/aos.css}">
        <link rel="stylesheet" type="text/css" th:href="@{public/assets/vendor/overlay-scrollbar/css/overlayscrollbars.min.css}">

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{public/assets/css/style.css}">
        
	
    </th:block>
</body>
</html>
